.svg-console
  height: calc(100% - 6rem)
  width: calc(100% - 20rem)
  margin-left: 1rem
  margin-right: 1rem
  margin-bottom: 1rem
  margin-top: 5rem
  border: 1px solid black
  background-image: url(/img/bg.png)
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  top: 0
  @media (max-width: 800px)
    width: calc(100% - 14rem)

.svg-console-portrait
  height: calc(100% - 12rem)
  width: calc(100% - 2rem)
  margin-left: 1rem
  margin-right: 1rem
  margin-bottom: 1rem
  margin-top: 5rem
  border: 1px solid black
  background-image: url(/img/bg.png)
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  top: 0

.console-title
  font-family: 'Playfair Display', serif
  font-size: 3rem
  @media (max-width: 500px)
    font-size: 2.2rem

.console-button-bar
  width: 20rem
  height: calc(100% - 6rem)
  padding: 0
  margin: 0
  position: absolute
  top: 6rem
  right: 0rem
  @media (max-width: 800px)
    width: 13rem

.console-button-bar .button
  width: 19rem
  height: 9rem
  margin-right: 0
  margin-left: 1rem
  padding: 0
  font-size: 3.2rem
  color: #2a2e2e
  font-family: 'Domine', serif
  font-family: 'Playfair Display', serif
  // copy from navigation in colors
  background: rgb(243,226,199); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(243,226,199,1) 0%, rgba(182,141,76,1) 76%, rgba(233,212,179,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(182,141,76,1) 76%,rgba(233,212,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(182,141,76,1) 76%,rgba(233,212,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

  @media (max-width: 800px)
    width: 12rem
    font-size: 2rem
    height: 4rem

  &:hover
  	color: black
  	border: 1px solid blue

  &:focus
    color: #5a2d32
    background: linear-gradient(to bottom, #e0a862 0%, #d89f46 76%, #dad2c5 100%)

.console-button-bar-portrait
	width: calc(100% - 2rem)
	height: 5rem
	padding: 0
	margin: 0
	position: absolute
	top: calc(100% - 6.5rem)
	left: 1rem

.console-button-bar-portrait .button
  width: 24%
  height: 6rem
  margin-right: 0
  margin-left: 0
  padding: 0
  font-size: 2.2rem
  color: #2a2e2e
  // font-family: 'Domine', serif
  font-family: 'Playfair Display', serif
  // copy from navigation in colors
  background: rgb(243,226,199); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(243,226,199,1) 0%, rgba(182,141,76,1) 76%, rgba(233,212,179,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(182,141,76,1) 76%,rgba(233,212,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(182,141,76,1) 76%,rgba(233,212,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

  @media (max-width: 500px)
    font-size: 1.5rem

  &:hover
  	color: black
  	border: 1px solid blue

  &:focus
    color: #5a2d32
    background: linear-gradient(to bottom, #e0a862 0%, #d89f46 76%, #dad2c5 100%)

.console
	// transition: all 1s
	border: .5rem solid rgba(80,78,48,0.74)
	border-radius: 1rem
	padding-top: 0rem
	padding-left: 0rem
	padding-right: 0rem
	margin: 0 auto
	position: absolute
	top: 5rem
	width: 100vw
	height: calc(100vh - 5rem)
	overflow: none
	// transition: all 0.3s
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adbca2+0,86c553+100 */
	background: rgb(173,188,162); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(173,188,162,1) 0%, rgba(134,197,83,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(173,188,162,1) 0%,rgba(134,197,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(173,188,162,1) 0%,rgba(134,197,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adbca2', endColorstr='#86c553',GradientType=0 ); /* IE6-9 */

