.svg-map 
  height: 60vh
  width: 100%
  // background-color: $green-100;
  border: 2px
  stroke: black
  overflow: scroll
  display: block
  margin: auto

.map__bg
  background-color: rgba(33, 95, 53, 0.69)


