<div class="grid-form inspection" name="bombardment">
<h2>Bombardment Phase</h2>
<center><img src="/img/bombardment.png"></center>
<p>The Bombardment Phase is used to calculate the effects of sustained long range artillery fire that occurs during the Grand Tactical Movement Phase, over the whole 20 minute period.<p>
<p>Note that this is separate from tactical gunnery fire that may occur later in the turn during one of the many Tactical Combat moves.</p>
<p>All Bombardment fire is simultaneous across the turn between all players. During the course of the Phase, you can set multiple outgoing fire missions at the enemy, but you might also have to deal with multiple incoming shots on your troops as well.</p>
<p>This sustained fire is at a slower and steadier rate of fire compared to Tactical Artillery fire, to preserve powder and shot, and also to keep gun and crew fatigue under control. Still, it does cover a 20 minute period, which for an average Battery of 8 guns, could easily be over 100 rounds of shot fired at the target during that 20 minute turn.</p>
<p>Whilst with every fire mission, you are guaranteed to inflict a small amount of damage at a minimum, do not expect great results from Bombardment fire in the space of a single turn. It is horribly effective though when you look at the cumulative results over the course of many turns during the Battle as a whole.</p>
<p>Note also that guns of this period, despite being masterfully constructed, will suffer from equipment fatigue as the wood, rivets, straps and bolts, etc take a huge shock everytime the gun is fired. They are effective weapons, but their useful life on the Battlefield can be quite limited.</p>


<h4>Bombardment Procedure</h4>

<p>Each Turn, every player receives the opportunity to conduct some Grand Tactical Bombardment, depending on the state of their units.</p>
<p>The Initial Bombardment screen shows a short list of every Corps under your command that may be able to shoot during this phase. Click on the Corps to proceed. The next screen will show a list of all the available Batteries within that Corps that can fire this turn. Click on one of these to proceed.</p>
<p>If one of your Corps is not displayed on this screen, it will be because there are NO Gun Batteries in that Corps which qualify for Bombardment. Only units which have completed deployment, and are currently in Battle Line can conduct Bombardment during this turn. If they are currently "Deploying into Battle Line", then will be able to start performing sustained fire as of next turn.</p>
<p>Finally, only dedicated Artillery Units, marked as such on the Order of Battle can conduct sustained bombardment fire. Other Brigade sized units which happen to have attached guns .. even a whole Battery of them .. do not qualify for this sustained fire. Those attached guns are dedicated to tactical use at the Brigade level only.</p>

<h4>Selecting the Target</h4>

<p>Now that you have selected the firing unit, select the Target Player. A list of Players on the opposing side will be presented, so select whichever player is in command of the unit that you are firing at. This sets up a dialog between you and them to resolve the combat between each other by the end of the turn, without the need for an umpire.</p>

<h4>Select the Range ... Fire</h4>

<p>Now select the range that you are firing at. A set of range bands in "Table Grids" is displayed on the screen which matches the type of guns that you are firing. Click once on the square to select that range band, or toggle whether it is selected or not.</p>

<img src="/img/ranges1.png">

<p>When you are done - Press FIRE</p>
<p>In the case where the target has moved across several range bands in the course of their Grand Tactical Move, you can select multiple range bands to define how that target has moved. The computer will take these different ranges into account across the course of the 20 minutes of firing.</p>

<p>Once you have selected a range, and selected the player controlling the target unit ..  and then pressed FIRE .. the Computer will present you with a "Target Identification Number" which is used to reference the shot.</p>



<h4>Receiving Player - Incoming Notifications</h4>

<p>Once the Fire Mission has been entered, the Player who is in command of the Target unit will receive an "Incoming Fire" Alert on their screen.</p>
<p>When they are done issuing all of their own shots, they can then come back to this list, and finish off resolving the fire.</p>
<p>In each case of incoming fire (and there can be several), the receiving player is told which other player is shooting at them, and how many guns of what calibre are incoming, and what the range is. In addition to this, each Incoming Fire Alert has a unique ID number that is displayed for reference.</p>

<h4>Receiving Player - Confirm Target</h4>

<p>Based on all of this information, the Receiving player must examine their Troops being shot at on the TableTop, and determine which unit it is that is taking the shot in each case.</p>
<p>The range of units that the receiving player can choose from will be determined by the computer based upon what it knows about the Corps as a whole, and how the Corps is deployed.</p>
<p>We do things this way, because it offers the best compromise between player control without the need for an umpire, and keeping one side's unit info and fire damage effects hidden from the other player. Whilst this approach is open to some abuse by the receiving player .. it is far better than letting the firing player dictate who gets shot at. This is especially relevant given the ranges involved, and the smoke, noise and cofusion on the Battlefield.</p>

<h4>Placing Smoke and Target Indicators on the Table</h4>
<p><b><i>Optional for larger Games</i></b></p>
<p>In a simple scenario with a couple of Batteries per side, it is easy enough to keep track of shots manually without the need for the "Target ID Number". However, in a larger game where there are dozens of batteries all firing at different things at the same time across different players .. then it comes in handy.</p>

<img src="/img/shotsmoke.png">

<p>On the Tabletop, place a puff of smoke in front of your gun models to show that this unit is currently firing. On the target, place another puff of smoke / explosion marker on the enemy unit to denote the incoming fire, along with the "Target ID Number". The ID number is in the range of 1 to ... however many bombardments there are this turn .. so simply placing a Die next to the target with the Target ID Number showing should be good enough in most cases.</p>

<img src="/img/targetindicator.png">


<h4>Cancelling the Shot</h4>

<p>The Firing Player may wish to cancel a fire mission before it is processed, or the receiving player may wish dispute the incoming shot.<p>
<p>The Firing Player can click on the numbered "cannonball" icon in their fire mission display to cancel the shot for any reason when needed.</p>
<p>In all cases, disputes must be handled between the players, either by consensus, or by the determination of the player hosting the game. If in doubt .. roll the dice to determine the outcome of the dispute.</p>

<p>There are 2 cases where the receiving player can reasonably dispute the incoming shot:</p>
<ol>
	<li>Incorrect Range Information.</li>
	<li>That the terrain does not allow fire to good effect between the 2 units.</li>
</ol>

<p>In the case of Incorrect Range Information, then take another measurement again, and repeat the shot with the corrected range.</p>

<p>In the case of 2) Terrain does not allow good effect, then the situation needs to be determined by consensus with the players, or a determination from the hosting player. Either way, this requires some good judgement and experience from the players.</p>
<p>"Good Effect" - requires that the target be clearly in view, and that the ground to the front of the target is clear for at least 1 grid square. In addition, the ground behind the target must also be clear for 1 grid square. Having both front and rear clear of rough terrain or woods allows the firing officer to see the fall of shot in front of and behind the target, and adjust the shot from there. If this is not the case, then the guns wont fire at the target, as it is clearly a waste of good powder.</p>
<p>If the shot is determined to not be to "Good Effect", then the shot is cancelled. If it can be argued that circumstances allow for effective fire, then the shot is allowed.</p>
<p>Some examples of valid exceptions that could be argued : The Battery is on high ground and can see the shot .. or The Battery is in a prepared position, and ranges have been registered prior to Battle, etc.</p>
</div>
