<div class="grid-form inspection" name="map-help">
<h2>The Battle Map</h2>


<h4>To See and Be Seen</h4>

<p>At the start of the Game, each player will only be able to see their own units, and the general area 
of other friendly units. There will be no enemy units on the map.</p>

<p>At the end of each Grand Tactical Movement Phase, the computer will calculate spotting between all Corps,
and update the map if need be.</p>

<p>Note that the meaning of "Spotting" in this case means that for the Corps in question, the information about that Corp's last known location is now known to an enemy commander. Any Corps that is "Spotted" in this case, does not automatically spot the same enemy, and it doesn't get to know that it has been spotted.</p>

<p>The calculation of who can see who is as follows: </p>
<ul>
	<li>Any units within touching Grids of each other are mutually spotted.</li>
	<li>Any units in the open are spotted when within 2-3 Grids of the enemy.</li>
	<li>A Corps that is moving will be spotted within a random range of 2-4 grids of any observer each turn, whilst it is moving<li>
</ul>

<p>Another situation is where a Corps is on the march, and its destination Grid is within 1 grid of an existing enemy position. This is because the Corps on the march may have some pathfinding patrols well out in front of their current position, or other situations, such as non-combatants, turncoats or opportunists hoping to sell information to the enemy.</li>

<p>In addition to this, any Corps on the map has the possibility of its location being discovered, by sheer bad luck, regardless of it's distance from the enemy. This can be explained due to small enemy scout patrols, local populations of civilians clearing out from the approaching armies, deserters from one's own force, or the rumour mill in general.</p>

<p>So each 20 minute turn, un-spotted Corps have a 1 in 12 chance of their position being discovered, regardless of their location, distance from any observer, or whether they are on the march or not ... on top of all the other rules.</p>

<p>Once a Corps is "Spotted" for any reason, it remains "Spotted" for the rest of the Game. In the context of a larger Campaign, it is reasonable for a large unit to escape contact with the enemy over a few days, but that is quite beyond the scope of a tactical game that covers a period of a few hours.</p>

<h4>Firing Units that are "Not Spotted"</h4>

<p>In a situation where you are ... say, firing guns at an enemy during the Grand Tactical Bombardment phase, then the models representing the guns should at least be placed on the table, and smoke markers added to denote firing. Everyone within earshot will know that there are guns there, which will be obvious to all.</p>
<p>From this, the players should deduct that there is probably some significant formation around the area where the guns are firing .. this too may seem obvious.</p>
<p>It doesn't mean however, that everyone now knows that there is a Corps from that side located in that area .. and therefore, the Corps marker of the parent unit will not be added to the map until it is indeed "Spotted", using the rules above.</p>

</div>
