<div class="grid-form console" name="console">
<div>
{{if .Hosting}}
<span>&nbsp;<i class="fa fa-user-circle-o fa-2x" name="hosting-users"></i></span>
{{end}}
<span class="console-title">{{.Game.Name}} {{.Game.Year}}</span>
</div>
<div class="console-button-bar {{if eq "Portrait" .Orientation}}console-button-bar-portrait{{end}}">
	<input type="button" class="button button-console" value="Orders">
	<input type="button" class="button button-console" value="Map">
	<input type="button" class="button button-console" value="Units">
	<input type="button" class="button button-console" value="Game">
	{{if eq "Landscape" .Orientation}}
		<img src="/img/general2.png" class="console-general">
	{{end}}
</div>
<svg name="svg-console" class="svg-console{{if eq "Portrait" .Orientation}}-portrait{{end}}" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">

<!-- Create definitions -->
<defs>
<linearGradient id="RedGradient">
        <stop offset="5%" stop-color="#FF6" />
        <stop offset="95%" stop-color="#F64" />
</linearGradient>
<linearGradient id="BlueGradient">
        <stop offset="5%" stop-color="#6FF" />
        <stop offset="95%" stop-color="#46F" />
</linearGradient>
<pattern id="tile-objective" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-objective-img" xlink:href="/img/tile-obj.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-clear" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-clear-img" xlink:href="/img/tile-clear.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-rough" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-rough-img" xlink:href="/img/tile-rough.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-woods" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-woods-img" xlink:href="/img/tile-woods.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-building" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-building-img" xlink:href="/img/tile-building.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-fort" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-fort-img" xlink:href="/img/tile-fort.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-river" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-river-img" xlink:href="/img/tile-water.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-river1" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-river1-img" xlink:href="/img/tile-water1.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-river2" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-river2-img" xlink:href="/img/tile-water2.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-clear" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-clear-img" xlink:href="/img/tile-1-clear.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-rough" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-rough-img" xlink:href="/img/tile-1-rough.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-woods" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-woods-img" xlink:href="/img/tile-1-woods.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-building" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-building-img" xlink:href="/img/tile-1-building.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-fort" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-fort-img" xlink:href="/img/tile-1-fort.png" x="0" y="0" width="6" height="6" />
</pattern>
</defs>

<rect x="0" y="0" class="map-rect hidden" name="map-rect" width="100" height="100"></rect>
<!-- G element to add things into -->
<g name="g-main" class="map-tileset"></g>

</svg>

<div class="md-overlay"></div>
<div id="tile-details" class="md-modal md-effect-1 tile-details-modal">
    <div class="md-content">
        
    </div>
</div>


</div>