<div class="grid-form console" name="console">
<div>
{{if .Hosting}}
<span>&nbsp;<i class="fa fa-user-circle-o fa-2x" name="hosting-users"></i></span>
{{end}}
<span class="console-title">{{.Game.Name}} {{.Game.Year}}</span>
</div>
<div class="console-button-bar {{if eq "Portrait" .Orientation}}console-button-bar-portrait{{end}}">
	<input type="button" class="button button-console" value="Orders">
	<input type="button" class="button button-console" value="Map">
	<input type="button" class="button button-console" value="Units">
	<input type="button" class="button button-console" value="Game">
	{{if eq "Landscape" .Orientation}}
		<img src="/img/general2.png" class="console-general">
	{{end}}
</div>
<svg name="svg-console" class="svg-console{{if eq "Portrait" .Orientation}}-portrait{{end}}" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">

<!-- Create definitions -->
<defs>
</defs>

<!-- G element to add things into -->
<g name="g-main" stroke="black"></g>

</svg>
</div>


