<center><img src="/img/kriegsspiel.png"></center>
<h2>
<a name="top"></a>
Frequently Asked Questions
</h2>

<hr>
<center><img src="/img/kriegsspiel3.png"></center>
<a name="game"></a>
<h3>Game Questions</h3>
<h4>Q: So what historical period is this system aimed at?</h4>
<p>
Horse and Musket period gaming.
</p>
<p>The original "Kriegsspeil" rules were written in 1824 by a Prussian Army officer based on his 1st hand experience in the Napoleonic Wars</p>
<p>Subsequent revisions by professional staff officers of the time include weapons data updates up to and including "the Age of Rifles", with data published for early needle guns and breech loading rifled artillery.</p>
<p>Whilst the data is there for a range of weapons, the purpose of the "Kriegsspeil" system was to train officers in the art of command, and not so much as a celebration of new battlefield technology. The real strength of the "Kriegsspiel" rules is the way that it models the interaction between the 3 arms (Infantry / Cavalry / Artillery), and more or less <i>demands</i> that the player plan ahead and coordinate their forces properly ... or face the consequences.</p>
<p>So in summary - perfect for the Napoleonic Period, suitable for earlier Linear Warfare such as 7YW, generally useful for ACW, Crimea, FPW and possibly useful up to the end of the 19th Century and into WW1, depending on the campaign.</p>
<p>Do note however, that using a computer AT ALL in a wargame does change the "feel" of the gameplay, and you may need to consider this. Whilst it might produce fast and accurate results, for say ... a Colonial Period Wargame set in the unknown depths of Darkest Africa, it might also introduce a disgracefully sterile feel for a gathering of Gentlemen, chuffing on pipes and sipping brandy near an open fireplace, whilst planning how they should fortify the city for the coming invasion.</p>

<hr>
<h4>Q: I get enough of Computers at work - I prefer Dice for my gaming thank you.</h4>
<p>I understand this, and agree.</p>
<p>This is indeed a "game" or "simulation" of War, in which the player must constantly make critical life and death decisions, and then accept the results of things that he has little or no control over. Sounds like rolling dice !</p>
<p>Player involvement (even if its just rolling a dice and passively suffering the consequences of the roll), is actually of critical importance to capturing the gravity of the situation being modelled on the tabletop, and have the player understand the process involved that produces that consequent effect.<p>
<p>The system aims to be transparent in the mechanics that are used, so this includes displaying the odds of success for each choice the player makes ... and finally, <i>Requiring the Player to ROLL THE DICE</i> to get a result. This keeps everyone involved in the action, and allows every player to understand WHY things are happening on the tabletop as they happen.</p>

<hr>
<h4>Q: What ? Computer moderated with Dice - How does that possibly work?</h4>
<p>For each combat situation that occurs in the game, the computer asks a series of straight forward questions, and then presents the commanding player with a set of choices to make, and roughly what the odds of success of each choice are.</p>
<p>The defending player in this combat situation must answer the same questions, and may also be asked to decide on a reaction choice to make to counter the commanding player's move.</p>
<p>Once all the inputs for the situation are entered by BOTH players, the Computer Umpire generates a simple table of results from a D6, and shows this results table to BOTH affected players.</p>
<p>The commanding player rolls the dice. Both players then click the appropriate number that matches the die roll, (and when both the inputs agree), the results are applied.</p>

<hr>
<h4>Q: So its up to the players to negotiate with each other over each combat situation?</h4>
<p>Correct.</p>
<p>The basic "straight forward questions" are simple factors that both players should be able to agree on, but tabletop games are by their nature analog affairs, where much is open to interpretation, imagination, experience, and even negotiation. </p>
<p>These factors are indeed what makes tabletop gaming unique and appealing compared to computer games, so this system attempts to embrace that rather than replace it.</p>
<p>It also means that player involvement is kept high throughout the game, and that all players are given every opportunity to understand the mechanics involved, and argue their case to influence those odds. 
<p>The sort of situational factors that affect each combat situation include obvious questions such as :</p>
<ul>
	<li>Range between opposing units?</li>
	<li>Is the terrain in question Open / Rough / Wooded?</li>
	<li>Is the target under cover?</li>
	<li>Hit in the Flank ?</li>
</ul>
<p>.. which are all straight forward, through to other questions which may be more open to negotiation, and may require the players to state a strong case for applying them or not :</p>
<ul>
	<li>Has a supporting line to the rear within reach should they need to retreat ?</li>
	<li>Is this artillery firing to good effect, or is it obscured ?</li>
	<li>Should the defending unit be considered suprised and ambushed by this attack ?</li>
	<li>.. etc</li>
</ul>
<p>All up, there are over 1,000 possible combinations of Unit vs Unit combat situations included in the game model, each with a variety of modifying factors that can influence the result.</p>

<hr>
<h4>Q: What's the detail of the Combat Results ?</h4>
<p>Combat results are computed and presented on 3 separate levels, so lets look at that in more detail.</p>
<ol>
	<li>General Outcome.
	<p>Whenever 2 opposing units clash, there are 6 general outcomes, all things considered:</p>
	<ol>
		<li>Attacker Wins, Defender Totally Defeated</li>
		<li>Attacker Wins, Defender Defeated</li>
		<li>Attacker Wins, Defender Repulsed</li>
		<li>Attacker Repulsed</li>
		<li>Attacker Defeated</li>
		<li>Attacker Totally Defeated</li>
	</ol>
	<p>So when opposing units engage, they fight, and then all players are informed of the General Outcome of each encounter. The calculation of the odds of each outcome though is somewhat complicated, and needs a whole book to explain. The Computer backend manages to look after the details of these calculations for you.</p>
	<p>Each unit that is involved in a contact - whether it wins or loses, will have actual casualties calulated and applied based on the situation and the general result.</p>
	</li>
	<li>Logistical Data.
	<p>Each individual unit on the table is tracked in detail, including :</p>
	<ul>
		<li>Exact number of actual men in the unit.</li>
		<li>Exact number of casualties (killed / wounded, etc).</li>
		<li>Ammunition and supply state.</li>
		<li>Fatigue state.</li>
		<li>Command & Control state.</li>
	</ul>
	<p>All of these factors are both linear and deterministic, so that over the course of a battle they degrade at a predictable rate as they take fire and get involved in combats.</p>
	<p>Attrition due to casualties is tracked by the computer umpire, and does not require any figure or base removal.</p>
	<p>Each time a unit receives fire (from musket / skirmisher / artillery), individual casualties are computed and applied for each unit.</p>
	<p>Each time a unit fires, ammunition and supply state is computed and applied.</p>
	<p>Each time a unit moves, changes formation, or performs some other physical action, fatigue and control costs are computed and applied to the unit.</p>
	<p>Each time a unit spends a period recovering, fatigue / control state and supply state recovery is computed and applied to the unit.</p>
	<p>During the course of a game, a player can move (the command base representing themselves) to a unit, and "Perform an Inspection", to gain access to the detailed logistical state of the unit they are inspecting.</p>
	<p>Unless the unit is being personally inspected by the player, these logistical details are not available during the game.</p>
	<p>At the end of the game, all logistical details for all units of all sides are available to all players.</p>
	</li>
	<li>Morale State
	<p>Morale is modelled using the following general principles :</p>
	<ul>
		<li>It is assumed that all units and sub-commands will have a very limited understanding of the overall situation on the tabletop, and can only act based on what is happening in their immediate local area.</li>
		<li>As a general rule, units and sub-commands will act in strict accordance with their orders, and continue to do so until the unit completely breaks.</li>
		<li>That negative changes in the morale state can occur suddenly, are hard to predict, and sometimes hard to explain or justify - but they do happen, and they can happen to any unit on any side involved.</li>
		<li>That casualty levels due to attrition do not have a serious impact on morale state. Loss of morale is more related to unexpected "shock" from exceptional events - either real or imagined.</li>
		<li>That morale state recovery during the course of a game is much slower and more predictable than morale loss.</li>
	</ul>
		
	</li>

</ol>


<hr>
<h4>Q: Distance, Figure and Time Scales?</h4>

<b><u>Figure Scales:</u></b>
<p>This is an element based game, where combat units are made up of a number of elements (or bases).</p>
<p>The basic manouevre element of the game is the Brigade, which is made up several bases of close order Infantry. A typical Infantry Brigade at combat strength will have between 4-8 bases of close order Infantry, and a Brigade Commander base.<p>
<p>A base of Line Infantry in close order represents a half-battalion (roughly 150 man frontage, in 2 or 3 ranks). The frontage of this half-battalion element therefore defines the ground scale of 100 paces for every aspect of the game from here on.  100 paces == 1 base width.</p>

<b><u>Ground Scale:</u></b>
<p>As defined by the basing system, each base of close order Infantry = 100 paces.</p>
<p>The critical distance in the game is the "quarter mile" or roughly 500 paces. A "quarter mile" has the following special characteristics:</p>
<ul>
	<li>It is the maximum range of the best small arms fire, and cannister fire from guns.</li>
	<li>It is the distance that Infantry can advance in a 5 minute period.</li>
	<li>Opposing Infantry units within this distance of each other are considered to be engaged and under shot of each other. This affects command control, morale state, the ability to change formation, or receive new orders.<li>
	<li>It is the maximum distance that Cavalry can charge, without the defender having time to react.</li>
	<li>It is the maximum distance that supporting units can offer effective support and shelter to other units.</li>
	<li>It is the maximum distance that a commander can control a sub-unit, or assess its condition.</li>
	<li>Cavalry moves are in neat multiples of quarter miles.</li>
	<li>Artillery range bands are in neat multiples of quarter miles.</li>
	<li>At half this critical distance:
		<ul>
			<li>Maximum effective range of musket volleys.</li>
			<li>Supporting lines offer guaranteed shelter for supported units.</li>
			<li>Opposing units this close to each other are considered locked in to the engagement.</li>
			<li>Supporting units take bouncethrough damage from incoming artilley when this close to the target unit.</li>
		</ul>
	</li>	
	<li>At a quarter of this critical distance:
		<ul>
			<li>Musket fire effect is doubled.</li>
			<li>Supporting units within this distance count towards melee results.</li>
			<li>Supporting units within this distance take damage from cannister and musket fire at the target unit.</li>
			<li>Opposing units this close to each other can no longer receive new orders, or change formation.</li>
		</ul>
	</li>

</ul>
<p>Consider the tabletop to be divided into a grid of "quarter mile" sections.</p>
<p>To calculate the "quarter mile" scale for your tabletop, measure out the frontage of 5 close order infantry bases ... round it off to the nearest nice even number, and then declare that to be your base distance. You can now create a measuring stick marked off in quarter mile increments. On the end of the measuring stick, you can divide the last section into a half-"quarter mile", and a</p>
<p>For example: Lets say we are using infantry bases with a 40mm max frontage .. 5 x 40mm = 200mm, which gives us a quarter mile of 8 inches.  For 60mm max frontage, that gives a quarter mile of 12 inches.</p>

<b><u>Time Scale:</u></b>
<p>Based on the above, the game is divided into 5 minute time slices, which gives enough time for :</p>
<ul>
	<li>A commander to draft a new set of orders.</li>
	<li>A sub-commander to receive and begin to act on new orders.</li>
	<li>A typical close combat action to reach a conclusion.</li>
	<li>A typical fresh musket volley to turn into a smoke filled firefight.</li>
	<li>An artillery battery to limber or unlimber.</li>
	<li>A brigade sized unit to perform a significant change of formation or facing.</li>
</ul>


<hr>
<h4>Q: Figure Basing?</h4>
<p>As seen above, a "base" of close order Infantry represents up to 450 men, and covers a frontage of 100 paces. Depending on how many figures you can afford to put on the table, you need to work around this and work out what looks best for you.</p>
<p>A base of cavalry of the same frontage as an infantry base represents a half squadron of cavalry in open battle order. That is up to 75 horsemen in 1,2, or 3 ranks.</p>
<p>A base of skirmishers represents a platoon / half company of skirmishers, (40-60 men) and has the same 100 pace frontage as a half-battalion.</p>
<p>A base of Artillery represents a half-battery of guns (4 guns), with each gun spaced roughly 20 paces apart. Your basing should allow a full battery of 2 gun bases to have a total frontage of around 150 paces. (ie - more than a half-battalion infantry base, but less than 2 infantry bases).  For example: If your infantry bases are 40mm wide, then your artillery bases work well at 30mm wide.</p>
<p>Each base of figures should ideally be of the same size, although its easy enough to accomodate multiple basing schemes on the table at the same time without creating geometry problems.</p>

<p>If in doubt, always choose aesthetics over common sense and practicality.</p>

<p>Here are some examples :</p>
<ul>
	<li>GdB basing - 8 infantry figures in 2 ranks of 4. Each base here works fine for a half-battalion, and looks great too.</li>
	<li>Maurice basing - 6 infantry figures in 2 ranks of 3. You can use this as-is for a large battle, or consider 2 of these bases side by side as being a half-battalion.</li>
	<li>NaW basing - 4 infantry figures in 2 ranks of 2. Works best if you consider each 2x2 base to be a company, and consider pairs of NaW bases side by side to be half-battalions.</li>
	<li>Empire basing - 3 infantry figures in 1 rank. Works best if you consider each 3x1 base to be a company, and consider pairs of these one behind the other to be a half battalion. Even better - consider these to be platoon bases, and have groups of 4 considered to be half battalion.</li>
</ul>
<p></p>

<hr>
<h4>Q: Skirmishers?</h4>
<p>The Kriegsspeil rules are suprisingly detailed in their treatment of Skirmishers, which allows for lots of separte Skirmisher action on the tabletop as the armies close with each other.</p>
<p>Most close order Infantry units can send out at least 1 skirmisher base each, by committing part of the 3rd rank, or by using integral Voltiguer Companies.</p>

<hr>
<h4>Q: Command, Control, Turn Sequence?</h4>
<p>The Game Turn Sequence is as follows :</p>
<ol>
	<li>Initial Game Setup, deployment and orders.</li>
	<li>General Movement (simultaneous for all players)</li>
	<li>Resolve ranged artilley fire<li>
	<li>Submit New Orders</li>
	<li>Tactical Actions (in parallel for all individual close engagements)
	<ul>
		<li>For each tactical engagement, determine which units are attacking who.</li>
		<li>Resolve the combat.</li>
	</ul>
	<li>Leader emergency actions.</li>
	<li>Once all tactical actions are resolved, go to step 2.</li>
	</li>
</ol>

<p>Each Player's forces are divided into a heirachy of commands, from Corps Commander -» Division Commander -» Brigade Commander.</p>
<p>At the start of each Game, the tabletop is logically divided into sectors such as Left Flank / Centre / Right Flank, and in each sector, one or more objective points are defined and agreed upon by the players. These can be roads, a town, a bridge, some woods, a mountain pass, etc.</p>
<p>At the start of each Game, each player must decide for each unit which logical sector they start in, and what their initial deployment state is.</p>
<p>At the start of each Game, each player must issue each sub-command with both an Objective, and an Order. The intial Objective must be one of the objective points defined above. The Order can be one of :</p>
<ul>
	<li>Attack: Advance on the objective, and take it by force.</li>
	<li>Defend: Take position on the objective and hold it against all oncomers.</li>
	<li>Support: Objective = specified unit, and specified flank or rear of that unit.<li>
	<li>Reserve: Maintain readiness to accept new orders, otherwise keep out of the way.</li>
</ul>
<p>Depending on the Player's Rank, additional type of orders may be used in the Game, including:</p>
<ul>
	<li>Probe: Seek out, engage and harrass the enemy in order to pin them in place.</li>
	<li>Advanced Guard: Proceed forward ahead of the main army to scout out the enemy, and harrass them as they deploy.</li>
	<li>Flank March: As it says.</li>
	<li></li>
</ul>

<p>During the Game, the Computer Umpire will consider the orders, engagement, control and morale state of every unit on the board, and compute what each unit decides to do next. The Computer then provides each Player with a list of all the moves that their units MUST make this next turn, where they are headed, and how far at a minimum they have to move.</p>

<p>All moves are performed simultaneously by all players in accordance with the istructions from the Computer. Moves are cut short however when opposing units close to within a "quarter mile" distance of each other.</p>

<p>At this point, Players may write up new orders for any sub-unit. This includes :</p>
<ul>
	<li>Change of Orders: ie - from Defend to Attack</li>
	<li>Change of Objective: Can specify a different objective, OR may now specify an enemy unit as the objective.</li>
	<li>Change of Formation: Can specify a different Brigade level formation, such a "Refuse Left Flank", or "Adopt Checkerboard of Attack Columns"</li>
</ul>

<p>After the orders are submitted, it will take 1 movement turn to dispatch the order, and then 1 movement turn for the sub-commander to enact the order.</p>



<hr>
<h4>Q: Unit Activation System?</h4>

<hr>
<h4>Q: IGO UGO ?</h4>

<hr>
<h4>Q: Visibility and Hidden Movement?</h4>

<hr>
<h4>Q: Battlefield Friction?</h4>

<hr>
<h4>Q: Troop Grades?</h4>
<p>The original Kriegsspeil rules do make a distinction between differences in the quality of opposing units in the odds calculation, but they don't make an attempt to quantify this over and above umpire discretion.</p>
<p>For this system, we need to apply some method of quantifying the difference for the computer to be able to crunch some numbers, so I have decided to stick with the familiar (and excessively detailed) troop grades from "Empire", which do a great job of providing granularity, determining training level and formation capabilites as well as simply morale  ... and add period flavour to any OOB.<p>
<p>This includes:</p>
<ol>
	<li>Guard</li>
	<li>Grenadier</li>
	<li>Elite</li>
	<li>Crack Line</li>
	<li>Regular Line</li>
	<li>2nd Rate / Reserve</li>
	<li>Conscript</li>
	<li>Landwehr</li>
	<li>Militia</li>
	<li>Rabble</li>
	<li>Angry Mob</li>
</ol>

<p>Artillery are graded as:</p>
<ul>
	<li>Heavy / 12lb</li>
	<li>Field / 9lb</li>
	<li>Field / 6-8lb</li>
	<li>Light / Bn Guns 3-4lb</li>
	<li>Horse Guns</li>
	<li>Howitzers</li>
</ul>

<p>Cavalry units are graded with the above Morale Level, and have additional attributes including:</p>
<ul>
	<li>Heavy Battle Cavalry (Cuirassiers, Heavy Dragoons, etc)</li>
	<li>Light Battle Cavalry (Hussars / Mamelukes, etc)</li>
	<li>Lancers</li>
	<li>Dragoons</li>
	<li>Light Cavalry (Chasseurs, Mtd Jagers)</li>
	<li>Cossacks / other Irregular Cavalry</li>
	<li>Dubious Cavalry (Hastily assembled Landwehr or National Guard cav)</li>
</ul>

<hr>
<center><img src="/img/kriegsspiel3.png"></center>
<a href="#top">Back to Top</a> ~ 
<a href="#game">Game Questions</a> ~ 
<a href="#tech">Technology Questions</a>

<a name="money"></a>
<h3>Show Me The Money</h3>

<hr>
<h4>Q: Do I have to pay to play?</h4>
<p>NO.</p>
<p>You can sign up and register for FREE, which allows you to start gaming immediately on a small scale, and spend as much time as you like playing with the system, and see if it works for you .. or not.</p>
<p>If you register and play on the Free account, then you are part of the community .. there is no catch.</p>

<hr>
<h4>Q: So does that mean that all my gaming friends have to register too?</h4>
<p>YES, but they dont have to pay to play.<p>
<p>As a Registered Player, you can create a Game, and then invite 1 or more friends to play (the number of players allowed depends on your Rank). The "game invite" comes up on their screen automatically, and then they simply accept the invite to begin playing the game.</p>

<hr>
<h4>Q: So what's all this going to actually cost me?</h4>
<p>If you like what you see, and want to get more serious with the system, then you can <b>Purchase A Commission</b> .. just like a real Officer in the Napoleonic Period, and extend what you can do with it.</p>
<p>There are several levels of Commissioned Ranks available for purchase, to suit both your gaming needs, and your budget. You only pay for what you need.</p>

<p>The least expensive Commission ($5.90), gets you additional multiplayer capabilities, more data, and bigger tables. This lasts for 1 month.</p>
<p>More expensive commissions run to under $25 for 3 months, with much larger multi-player capabilities, so one of these commmissions will be enough to serve a large gaming group.<p>
<p>On average, it works out to just over $1 per month, per player in your group ... which I think is pretty reasonable, and should prove to be affordable if used to its full extent.</p>

<hr>

<center><img src="/img/kriegsspiel3.png"></center>
<a href="#top">Back to Top</a> ~ 
<a href="#game">Game Questions</a> ~ 
<a href="#money">Account Questions</a>

<a name="tech"></a>
<h3>Tech Questions</h3>
<hr>
<h4>Q: What is this ? Is it another computer game or something?</h4>
<p>Yes, its a game, Yes, there are computers involved, but No ... its neither of the above !</p>
<p>This is a completely analog Tabletop Miniatures Game ... in the full traditional sense - with miniatures, scenery, tapes, rulers and dice, with players interacting face to face.</p>
<p>The "Computer" part of it takes on the role of a sort of combined Game Umpire / Bookkeeper for the action on the tabletop. Its there to assist, handle the information flow, and manage the bookkeeping.</p>
<p>Each player uses their own computer device (laptop / phone / tablet), to interact with the "Computer Umpire" using a standard Web Browser interface whilst playing the game.<p>
<p>So, not a computer game .. but a computer-assisted miniatures game, with a web interface.</p>

<hr>
<h4>Q: So what sort of computers are supported?</h4>
<p>Being a "web based" application, you NEED a reasonably reliable internet connection to run this app.</p>
<p>Anything reasonably modern, running a modern web browser. Ideally something light and portable with a good screen and decent processor.</p>
<p>Game play involves clicking on options that are presented, so Touch Screen devices and tablets work well for game play.</p>
<p>Game setup involves some typing and data entry, so a Keyboard equipped device works well for game setup.</p>
<p>In other words, if you can read this FAQ, then you have everything you need to be able to join a game.</p>
<p>Any of the following types of machines should work fine :</p>
<ul>
	<li><i class="fa fa-android fa-lg"></i> Android .. works fine on Android phones and tablets.</li>
	<li><i class="fa fa-chrome fa-lg"></i> Chromebooks are perfect for this app, especially the lightweight models with touchscreens. The low-end Pentium models work fine.</li>
	<li><i class="fa fa-apple fa-lg"></i> Macbooks, iPads, iPhone .. All tested to work fine using Safari and Chrome.</li>
	<li><i class="fa fa-linux fa-lg"></i> Linux (or BSD) machine running Firefox / Chrome, or any modern browser.</li>
	<li><i class="fa fa-windows fa-lg"></i> Windows machine running a modern browser - IE Edge, Firefox, Chrome, etc. Old versions of IE will simply not work.</li>
</ul>
<p></p>

<hr>
<h4>Q: What are the Multi-User Aspects and Limitations?</h4>
<p>Each Game played on the system can have a number of Players connect to that game at the same time .. but this number is limited based on the Rank of the Player who is hosting the Game.</p>
<p>The Free Account allows you to setup and run games with 2 players connected at the same time.</p>
<p>The Higher Ranking Commissions allows you setup and run games with more players - up to a maximum of 16 players at the same time.</p>

 
<hr>
<h4>Q: Tell me about the Network Requirements for game play?</h4>
<p>If you are on a wired or dedicated WiFi connection in your game room, then you are fine .. so lets look at 3G or 4G mobile connections in more detail, as being the extreme worst case scenario.</p>
<p>For each player that connects to the system, it will use between 4-10 MB Total bandwidth to connect and load all the game assets.</p>
<p>Once connected, the connection stays open to improve latency / speed, and from there the data bandwidth used is minimal .. 2-3 MB total data usage for a 2-3 hour game.</p>
<p>If the optional Audio Effects are used in a game, then expect another 5-10 MB data usage per player per game.</p>
<p>If your mobile coverage is patchy where you are playing, then players may need to re-connect each time that the network drops out, requiring the initial data to be loaded again, which will be another 2-4MB each time this happens. (Note - its less each time due to caching.)</p>
<p>Thats all the tech stuff anyway, for those that are counting beans and worried about burning through your bandwidth on your mobile account.</p>
<p>Bottom line - as a good Game Host, you should provide not only a healthy supply of Beer and Pretzels for your fellow Gentlemen and Officers ... but also a reasonable Wifi connection as a bare minimum, if you are going to use this system :)</p>

<hr>
<h4>Q: What development stack are you using?</h4>
<p>Good Question, thanks for asking :)</p>
<ul>
	<li><i class="fa fa-cloud fa-lg"></i> Hosting via <a href="digtialocean.com" target="do">Digital Ocean</a> cloud hosting, in multiple locations - USA / EU / Singapore</li>
	<li><i class="fa fa-linux fa-lg"></i> Develop on Linux / Host on FreeBSD + ZFS</li>
	<li><i class="fa fa-database fa-lg"></i> <a href="postgresql.org" target="pg">PostgreSQL Database</a> with Redis for caching.</li>
	<li><i class="fa fa-code fa-lg"></i> Backend written in the <a href="golang.org" target="golang">GO Programming Language</a></li>
	<li><i class="fa fa-code fa-lg"></i> Frontend also written in Go, using <a href="gopherjs.org" target="gjs"> GopherJS</a> compiler, and all comms with the backend executed using RPC over websockets.</li>
	<li><i class="fa fa-github fa-lg"></i> Code management via <a href="github.com" target="gh"> GitHub</a> ... with the possibility of opening up the repo once the application matures.</li>
</ul>

<hr>
<h4>Q: I have an idea for a Game/App/Web Application .. would you be interested?</h4>
<p>.. you Bet !</p>
<p>If it involves coding, and its a sound & well thought out idea,  then Im likely to be very interested.</p>
<p>Please use the "Contact" link provided in the main menu to expand the idea.</p>

<center><img src="/img/kriegsspiel3.png"></center>
