<center><img src="/img/kriegsspiel.png"></center>
<h2>
Frequently Asked Questions
</h2>

<hr>
<h3>Game Questions</h3>
<h4>Q: So what historical period is this system aimed at?</h4>
<p>
Horse and Musket period gaming.
</p>
<p>The original "Kriegsspeil" rules were written in 1824 by a Prussian Army officer based on his 1st hand experience in the Napoleonic Wars</p>
<p>Subsequent revisions by professional staff officers of the time include weapons data updates up to and including "the Age of Rifles", with data published for early needle guns and breech loading rifled artillery.</p>
<p>Whilst the data is there for a range of weapons, the purpose of the "Kriegsspeil" system was to train officers in the art of command, and not so much as a celebration of new battlefield technology. The real strength of the "Kriegsspiel" rules is the way that it models the interaction between the 3 arms (Infantry / Cavalry / Artillery), and more or less <i>demands</i> that the player plan ahead and coordinate their forces properly ... or face the consequences.</p>
<p>So in summary - perfect for the Napoleonic Period, suitable for earlier Linear Warfare such as 7YW, generally useful for ACW, Crimea, FPW and possibly useful up to the end of the 19th Century and into WW1, depending on the campaign.</p>
<p>Do note however, using a computer AT ALL in a wargame does change the "feel" of the gameplay, and you may need to consider this. Whilst it might produce fast and accurate results, for say ... a Colonial Period Wargame set in the unknown depths of Darkest Africa, it might also introduce a disgracefully sterile feel for a gathering of Gentlemen, chuffing on pipes and sipping brandy near an open fireplace, whilst planning how they should hold the city from the coming invasion.</p>

<hr>
<h4>Q: I get enough of Computers at work - I prefer Dice for my gaming thank you.</h4>
<p>I understand this, and agree.</p>
<p>This is indeed a "game" or "simulation" of War, in which the player must constantly make critical life and death decisions, and then accept the results of things that he has little or no control over. Sounds like rolling dice !</p>
<p>Player involvement (even if its just rolling a dice and passively suffering the consequences of the roll), is actually of critical importance to capturing the gravity of the situation being modelled on the tabletop, and have the player understand the process involved that produces that consequent effect.<p>
<p>The system aims to be transparent in the mechanics that are used, so this includes displaying the odds of success for each choice the player makes ... and finally, <i>Requiring the Player to ROLL THE DICE</i> to get a result. This keeps everyone involved in the action, and allows every player to understand WHY things are happening on the tabletop as they happen.</p>

<hr>
<h4>Q: What ? Computer moderated with Dice - How does that possibly work?</h4>
<p>For each combat situation that occurs in the game, the computer asks a series of straight forward questions, and then presents the commanding player with a set of choices to make, and roughly what the odds of success of each choice are.</p>
<p>The defending player in this combat situation must answer the same questions, and may also be asked to decide on a reaction choice to make to counter the commanding player's move.</p>
<p>Once all the inputs for the situation are entered by BOTH players, the Computer Umpire generates a simple table of results from a D6, and shows this results table to BOTH affected players.</p>
<p>The commanding player rolls the dice. Both players then click the appropriate number that matches the die roll, (and when both the inputs agree), the results are applied.</p>

<hr>
<h4>Q: So its up to the players to negotiate with each other over each combat situation?</h4>
<p>Correct.</p>
<p>The basic "straight forward questions" are simple factors that both players should be able to agree on, but tabletop games by their nature are analog affairs, where much is open to interpretation, imagination, experience, and negotiation. </p>
<p>These factors are indeed what makes tabletop gaming unique and appealing compared to computer games, so this system attempts to embrace that rather than replace it.</p>
<p>The sort of situational factors that affect each combat situation include questions such as :</p>

<hr>
<h4>Q: Distance and time scales?</h4>

<hr>
<h4>Q: What historical periods is this system aimed at ?</h4>
<hr>
<h4>Q: What historical periods is this system aimed at ?</h4>
<hr>
<h4>Q: What historical periods is this system aimed at ?</h4>
<hr>
<h4>Q: What historical periods is this system aimed at ?</h4>
<hr>
<h4>Q: What historical periods is this system aimed at ?</h4>
<h3>Tech Questions</h3>
<hr>
<h4>Q: What is this ? Is it another computer game or something?</h4>
<p>Yes, its a game, Yes, there are computers involved, but No ... its neither of the above !</p>
<p>This is a completely analog Tabletop Miniatures Game ... in the full traditional sense - with miniatures, scenery, tapes and rulers, and players who must interact face to face.</p>
<p>The "Computer" part of it takes on the role of a sort of combined Game Umpire / Bookkeeper for the action on the tabletop. Its there to assist, handle the information flow, and manage the bookkeeping.</p>
<p>Each player uses their own computer device (laptop / phone / tablet), to interact with the "Computer Umpire" using a standard Web Browser interface whilst playing the game.<p>
<p>So, not a computer game .. but a computer-assisted miniatures game, with a web interface.</p>

<hr>
<h4>Q: So what sort of computers are supported?</h4>
<p>Being a "web based" application, you NEED a reasonably reliable internet connection to run this as well.</p>
<p>Anything reasonably modern, running a modern web browser. Ideally something light and portable with a good screen and reasonable grunt.</p>
<p>Game play involves clicking on options that are presented, so Touch Screen devices and tablets work well for game play.</p>
<p>Game setup involves some typing and data entry, so a Keyboard equipped device works well for game setup.</p>
<p>In other words, if you can read this FAQ, then you have everything you need to be able to join a game.</p>
<p>Any of the following types of machines should work fine :</p>
<ul>
	<li><i class="fa fa-android fa-lg"></i> Android .. works fine on Android phones and tablets.</li>
	<li><i class="fa fa-chrome fa-lg"></i> Chromebooks are perfect for this app, especially the lightweight models with touchscreens.</li>
	<li><i class="fa fa-apple fa-lg"></i> Macbooks, iPads, iPhone .. All tested to work fine using Safari and Chrome.</li>
	<li><i class="fa fa-linux fa-lg"></i> Linux (or BSD) machine running Firefox / Chrome, or any modern browser really.</li>
	<li><i class="fa fa-windows fa-lg"></i> Windows machine running a modern browser - IE Edge, Firefox, Chrome, etc. Old versions of IE will simply not work.</li>
</ul>
<p></p>

<hr>
<h4>Q: Tell me about the Network Requirements for game play?</h4>
<p>If you are on a wired or dedicated WiFi connection in your game room, then you are fine .. so lets look at 3G or 4G mobile connections in more detail, as being the extreme worst case scenario.</p>
<p>For each player that connects to the system, it will use between 4-10 MB Total bandwidth to connect and load all the game assets.</p>
<p>Once connected, the connection stays open to improve latency / speed, and from there the data bandwidth used is minimal .. 2-3 MB total data usage for a 2-3 hour game.</p>
<p>If the optional Audio Effects are used in a game, then expect another 5-10 MB data usage per player per game.</p>
<p>If your mobile coverage is patchy where you are playing, then players may need to re-connect each time that the network drops out, requiring the initial data to be loaded again, which will be another 2-4MB each time this happens. (Note - its less each time due to caching.)</p>
<p>Thats all the tech stuff anyway, for those that are counting beans and worried about burning through your bandwidth on your mobile account.</p>
<p>Bottom line - as a good Game Host, you should provide not only a healthy supply of Beer and Pretzels for your fellow Gentlemen and Officers ... but also a reasonable Wifi connection as a bare minimum, if you are going to use this system :)</p>


<center><img src="/img/kriegsspiel3.png"></center>
