<div class="grid-form inspection" name="fight">
<h2>Tactical Engagements</h2>
<center><img src="/img/fight.png"></center>

<h4>Tactical Engagements</h4>

<p>Immediately following the Grand Tactical Movement Phase, we come to the Tactical Engagement Phase.</p>

<p>This phase represents a variable number of short, 2-5 minute actions that occur during the course of a normal 20 minute turn, as opposing units which are close to each other may get involved in firefights and close actions.</p>

<p>After Grand Tactical Movement, the Map will be updated to show which opposing forces are within visual range of each other (ie - "spotted"), and this should then lead to figures being placed on the table. In this case, the players need only put enough figures on the table to represent the very leading elements of their formations, so as to keep as much info hidden from the opposing player as possible. You need to keep each other guessing about your intentions and strengths.</p>

<h4>Declare Engagements</h4>

<p>When opposing forces are close to each other on the tabletop, and wish to engage in small arms fire, close actions, and cavalry charges in order to take ground, the players must first declare a "Tactical Engagement" at a point on the tabletop.</p>

<p>Give the Engagement a name, and place a marker on the tabletop to show which terrain feature this refers to. On the main page on the computer, a new button appears during this phase labelled "New Fight".  Click this to add a new Tactical Engagement to the game. You will be asked to name the engagement, and select what the predominant type of terrain is in that area. You can leave the name blank, and the computer will generate a name for you.</p>

<p>You can easily manage around a dozen or more such Engagements at a time on a single table during a game.</p>

<h4>Committing Forces to Engagements</h4>

<p>As players create these "Engagement" markers in the game, a small box appears on the screen for each one, showing the name in handwriting.</p>

<p>If you wish to contest any of these engagements, then you first need to commit forces to each one before you can fight.  Click on the Engagement marker to be able to view the details, and commit fresh troops to that fight.</p>

<p>When you first enter this screen, it will be blank, as you have no forces committed to the fight. Click the button labelled "Add Unit" to start.</p>

<p>Choose the units to add to the fight. The computer will then pull in the selected Division, and lay out the brigades in Battle Line, according to the orders you have setup for that Division. If you are not satisfied with the layout, you can still click into "Units" from the main menu, and then use "Organise Brigades" to change your Division around. This will be reflected immediately on the Engagement screen.</p>

<p>Note that any Brigades which are in "Reserve" status in the Division will be initally held back from the fight, but can be pushed into the Battle Line later, as needed.</p>


<h4>The Enemy Appears !</h4>

<p>As the opposing player commits their units to the engagement, they appear on your screen as they are added. You can see the name of the unit, but no other information. Units in the opposing players 2nd Line or Reserve are not shown .. and vise versa, they wont be able to see yours on their screens either.</p>

<h4>The Division HQ</h4>

<h4>The Brigade HQ</h4>

<h4>Actions / Control Points</h4>

<h4>The Actions</h4>

<table>
	<tr>
		<th>Action</th>
		<th>Level</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>Advance</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Stand Your Ground</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Form Squares</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Passage of Lines</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Skirmishers In / Out</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Commit Reserve</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Resupply</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Withdraw / Concede</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Surrender</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Change Formation</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Fire !</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cold Steel !</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Wheel / Enflank</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cavalry Charge !</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Feint a Charge</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Counter Charge</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>En Flank</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Pursuit !</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Take Enemy Guns</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cannister !</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Round Shot</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Limber / Deploy Guns</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Reload / Prepare Shot</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Withdraw to Reserve</td>
		<td></td>
		<td></td>
	</tr>
</table>





<h4>Adding Multiple Divisions to an Engagement</h4>

<h4>Pulling a Division out of the Fight</h4>

<h4>Winning the Engagement</h4>

<h4>Conceding the Position</h4>



<p></p>
</div>
