<svg name="svg-map" class="svg-map" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 600 400">

<!-- Create definitions -->
<defs>
</defs>

<!-- Rectangle of table size -->
<rect x="0" y="0" name="map-rect"
 width="600" height="400"
 stroke="black" stroke-width="2" class="map__bg"/>

<text transform="translate(100 135)" style="font-size: 22;">Main Rectangle</text>


</svg>