<div name="Decline"></div>
<h2>Decline Game Invitation</h2>
<center>
<img src="/img/promotionfail.png">
</center>
<h4>{{.Name}}, {{.Year}}, {{.RedTeam}} vs {{.BlueTeam}}</h4>
<p>Sorry you can't make it, we will miss you  :(  <input type="button" name="really-decline" class="button button-primary" value="Really Decline the Invite"></p>
</table>
