<div name="Decline"></div>
<h2>Game Invitation ~ Declined</h2>
<center>
<img src="/img/promotionfail.png">
</center>
<h3>{{.Name}}, {{.Year}}</h3>
<h4>{{.RedTeam}} vs {{.BlueTeam}}</h4>
<p>Sorry you can't make it. Game invitation has been declined.</p>  
</table>
