<div name="Overview"></div>
<h2>Game Overview
<input type="button" class="button button-outline" value="Close">
</h2>
<center>
<img src="/img/battle1.png">
</center>
<h3>{{.Name}}, {{.Year}}</h3>
<h4>{{.RedTeam}} vs {{.BlueTeam}}</h4>
<p>Game Starts on {{.GetStartDate}}</p>
<p>{{.Descr}}</p>
<p>{{.Notes}}</p>
</table>
