<svg name="svg-map" class="svg-map" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 72 48">

<!-- Create definitions -->
<defs>
<pattern id="tile-rough" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-rough-img" xlink:href="/img/tile-rough.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-woods" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-woods-img" xlink:href="/img/tile-woods.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-building" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-building-img" xlink:href="/img/tile-building.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-fort" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-fort-img" xlink:href="/img/tile-fort.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-water" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-water-img" xlink:href="/img/tile-water.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-water1" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-water1-img" xlink:href="/img/tile-water1.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-water2" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-water2-img" xlink:href="/img/tile-water2.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-clear" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-clear-img" xlink:href="/img/tile-1-clear.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-rough" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-rough-img" xlink:href="/img/tile-1-rough.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-woods" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-woods-img" xlink:href="/img/tile-1-woods.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-building" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-building-img" xlink:href="/img/tile-1-building.png" x="0" y="0" width="6" height="6" />
</pattern>
<pattern id="tile-1-fort" patternUnits="userSpaceOnUse" width="6" height="6">
    <image id="tile-1-fort-img" xlink:href="/img/tile-1-fort.png" x="0" y="0" width="6" height="6" />
</pattern>
</defs>
<!-- Rectangle of table size, coord system = inches -->
<rect x="0" y="0" class="map-rect" name="map-rect"
 width="72" height="48"/>

<!-- Use a g tag to fill in the tiles -->
<g name="map-tileset" class="map-tileset">    

	<rect x="0" y="0" width="6" height="6" class="map-tile"/>
	<rect x="6" y="0" width="6" height="6" class="map-tile"/>
	<rect x="12" y="0" width="6" height="6" class="map-tile"/>
	<rect x="18" y="0" width="6" height="6" class="map-tile"/>
	<rect x="24" y="0" width="6" height="6" class="map-tile"/>
	<rect x="30" y="0" width="6" height="6" class="map-tile"/>
	<rect x="36" y="0" width="6" height="6" class="map-tile"/>
	<rect x="42" y="0" width="6" height="6" class="map-tile"/>
	<rect x="48" y="0" width="6" height="6" class="map-tile"/>
	<rect x="54" y="0" width="6" height="6" class="map-tile"/>
	<rect x="60" y="0" width="6" height="6" class="map-tile"/>
	<rect x="66" y="0" width="6" height="6" class="map-tile"/>

	<rect x="0" y="6" width="6" height="6" class="map-tile"/>
	<rect x="6" y="6" width="6" height="6" class="map-tile"/>
	<rect x="12" y="6" width="6" height="6" class="map-tile"/>
	<rect x="18" y="6" width="6" height="6" class="map-tile"/>
	<rect x="24" y="6" width="6" height="6" class="map-tile"/>
	<rect x="30" y="6" width="6" height="6" class="map-tile"/>
	<rect x="36" y="6" width="6" height="6" class="map-tile"/>
	<rect x="42" y="6" width="6" height="6" class="map-tile"/>
	<rect x="48" y="6" width="6" height="6" class="map-tile"/>
	<rect x="54" y="6" width="6" height="6" class="map-tile"/>
	<rect x="60" y="6" width="6" height="6" class="map-tile"/>
	<rect x="66" y="6" width="6" height="6" class="map-tile"/>

</g>

</svg>