<div name="Players"></div>
<h2>Who else is playing in this Game ?</h2>
<center>
<img src="/img/players.png">
</center>
<h3>{{.Name}}, {{.Year}}</h3>
<table>
	<tr>
		<th colspan=2>{{.RedTeam}}</th>
		<th colspan=2>{{.BlueTeam}}</th>
	</tr>
	{{range .GetPlayerRows}}
	<tr>
		<td>{{.Red.Username}}</td>
		<td>
		 {{if .Red.Accepted}}
		  <i class="fa fa-check-square fa-2x"></i> Ready
		 {{else}}
		 	{{if ne "" .Red.Username}}
		  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> .. waiting
		  {{end}}
		 {{end}}
		</td>
		<td>{{.Blue.Username}}</td>
		<td>
  	 {{if .Blue.Accepted}}
		  <i class="fa fa-check-square fa-2x"></i> Ready
		 {{else}}
		 	{{if ne "" .Blue.Username}}
		  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> .. waiting
		  {{end}}
		 {{end}}
		</td>
	</tr>
	{{end}}
</table>
</table>
