<div class="action-grid">
	{{if ne .InMode "Checklist"}}
		{{if .Started}}
		<div class="action__item" url="/game/{{.ID}}/hosting">
			<div class="action__title">Running</div>
			<div class="action__icon"><i class="fa fa-cog fa-spin fa-2x fa-fw"></i></div>
			<div class="action__text"></div>
		</div>
		{{else}}
		<div class="action__item" url="/game/{{.ID}}/checklist">
			<div class="action__title">Game Checklist</div>
			<div class="action__icon"><i class="fa fa-check-square-o fa-lg"></i></div>
			<div class="action__text">
				Checklist of items to begin Game
			</div>
		</div>
		{{end}}
	{{end}}

	{{if ne .InMode "Table"}}
	<div class="action__item" url="/game/{{.ID}}/table/terrain">
		<div class="action__title">Table Setup</div>
		<div class="action__icon"><i class="fa fa-table fa-lg"></i></div>
		<div class="action__text">
			Table Setup
		</div>
	</div>
	{{end}}
	<div class="action__item" url="/game/{{.ID}}/red">
		<div class="action__title">Red Team</div>
		<div class="action__icon"><i class="fa fa-flag-o fa-lg"></i></div>
		<div class="action__text">
			{{.RedTeam}}
		</div>
	</div>
	<div class="action__item" url="/game/{{.ID}}/blue">
		<div class="action__title">Blue Team</div>
		<div class="action__icon"><i class="fa fa-flag fa-lg"></i></div>
		<div class="action__text">
			{{.BlueTeam}}
		</div>
	</div>

	
	{{if ne .InMode "Overview"}}
	<div class="action__item" url="/game/{{.ID}}/overview">
		<div class="action__title">Overview</div>
		<div class="action__icon"><i class="fa fa-bookmark fa-lg"></i></div>
		<div class="action__text">
			Game Overview
		</div>
	</div>
	{{end}}

	{{if ne .InMode "Players"}}
	<div class="action__item" url="/game/{{.ID}}/players">
		<div class="action__title">Players</div>
		<div class="action__icon"><i class="fa fa-user fa-lg"></i></div>
		<div class="action__text">
			Check Status of Game Players
		</div>
	</div>
	{{end}}
</div>