<svg name="svg-map" class="svg-map" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 600 400">

<!-- Create definitions -->
<defs>
</defs>

<!-- Rectangle of table size -->
<rect x="0" y="0" class="map-rect" name="map-rect"
 width="600" height="400"
 stroke="black" stroke-width="2" fill="rgba(33, 95, 53, 0.5)"/>

</svg>