<div name="Accept"></div>
<h2>Game Invitation Accepted</h2>
<center>
<img src="/img/promotion.png">
</center>
<h3>{{.Name}}, {{.Year}}</h3>
<h4>{{.RedTeam}} vs {{.BlueTeam}}</h4>
<p>Well done !  You have accepted the Game Invitation, so we will now proceed to the play phase.<p>
</table>