<div class="action-grid todo-list">
	<div class="action__item" url="Goto">
		<div class="action__title">Back to Game</div>
		<div class="action__icon"><i class="fa fa-rocket fa-4x"></i></div>
		<div class="action__text"></div>
	</div>
	<div class="action__item" url="Pause">
		<div class="action__title">Pause</div>
		<div class="action__icon"><i class="fa fa-pause fa-3x"></i></div>
		<div class="action__text">Pause Game till later</div>
	</div>
	<div class="action__item" url="Phase">
		<div class="action__title">Phase</div>
		<div class="action__icon"><i class="fa fa-step-backward fa-3x"></i></div>
		<div class="action__text">Step back 1 Phase</div>
	</div>
	<div class="action__item" url="Turn">
		<div class="action__title">Turn</div>
		<div class="action__icon"><i class="fa fa-backward fa-3x"></i></div>
		<div class="action__text">Start of Turn</div>
	</div>
	<div class="action__item" url="Rewind">
		<div class="action__title">Rewind</div>
		<div class="action__icon"><i class="fa fa-fast-backward fa-3x"></i></div>
		<div class="action__text">Rewind Game</div>
	</div>
	<div class="action__item" url="End">
		<div class="action__title">End</div>
		<div class="action__icon"><i class="fa fa-stop-circle-o fa-3x"></i></div>
		<div class="action__text">Declare Game Over</div>
	</div>
</div>