<div class="action-grid">
	<div class="action__item" url="/game/{{.ID}}/table">
		<div class="action__title">Table Setup</div>
		<div class="action__icon"><i class="fa fa-table fa-lg"></i></div>
		<div class="action__text">
			Table Setup
		</div>
	</div>
	
	<div class="action__item" url="/game/{{.ID}}/overview">
		<div class="action__title">Overview</div>
		<div class="action__icon"><i class="fa fa-bookmark fa-lg"></i></div>
		<div class="action__text">
			Game Overview
		</div>
	</div>
	<div class="action__item" url="/game/{{.ID}}/obj">
		<div class="action__title">Objectives</div>
		<div class="action__icon"><i class="fa fa-map-marker fa-lg"></i></div>
		<div class="action__text">
			Objectives and Zones
		</div>
	</div>

	<div class="action__item" url="/game/{{.ID}}/red">
		<div class="action__title">Red Team</div>
		<div class="action__icon"><i class="fa fa-flag-o fa-lg"></i></div>
		<div class="action__text">
			Red Team Details
		</div>
	</div>
	<div class="action__item" url="/game/{{.ID}}/blue">
		<div class="action__title">Blue Team</div>
		<div class="action__icon"><i class="fa fa-flag fa-lg"></i></div>
		<div class="action__text">
			Blue Team Details
		</div>
	</div>

	<div class="action__item" url="/game/{{.ID}}/play">
		<div class="action__title">Start Game</div>
		<div class="action__icon"><i class="fa fa-play fa-lg"></i></div>
		<div class="action__text">
			Start the Game !!
		</div>
	</div>

</div>