<div class="action-grid">
	<div class="action__item" url="/game/invite/{{.ID}}/table">
		<div class="action__title">Table Setup</div>
		<div class="action__icon"><i class="fa fa-table fa-lg"></i></div>
		<div class="action__text">
			Table Setup
		</div>
	</div>
	<div class="action__item" url="/game/invite/{{.ID}}/overview">
		<div class="action__title">Overview</div>
		<div class="action__icon"><i class="fa fa-bookmark fa-lg"></i></div>
		<div class="action__text">
			Game Overview
		</div>
	</div>
	<div class="action__item" url="/game/invite/{{.ID}}/players">
		<div class="action__title">Players</div>
		<div class="action__icon"><i class="fa fa-user fa-lg"></i></div>
		<div class="action__text">
			Other Players in this Game
		</div>
	</div>
</div>