<div class="action-grid">
	<div class="action__item" url="Overview">
		<div class="action__title">Overview</div>
		<div class="action__icon"><i class="fa fa-bookmark fa-lg"></i></div>
		<div class="action__text">
			Game Overview
		</div>
	</div>
	<div class="action__item" url="Table">
		<div class="action__title">Table Setup</div>
		<div class="action__icon"><i class="fa fa-table fa-lg"></i></div>
		<div class="action__text">
			Table Setup
		</div>
	</div>
	<div class="action__item" url="Players">
		<div class="action__title">Players</div>
		<div class="action__icon"><i class="fa fa-user fa-lg"></i></div>
		<div class="action__text">
			Other Players in this Game
		</div>
	</div>
	{{if not .Accepted}}
	<div class="action__item" url="Accept">
		<div class="action__title">Accept</div>
		<div class="action__icon"><i class="fa fa-thumbs-up fa-lg"></i></div>
		<div class="action__text">
			Accept the Invite
		</div>
	</div>
	{{end}}
	<div class="action__item" url="Decline">
		<div class="action__title">Decline</div>
		<div class="action__icon"><i class="fa fa-thumbs-down fa-lg"></i></div>
		<div class="action__text">
			Cant make it to the game .. decline
		</div>
	</div>
</div>