<div class="container">
  
<h4 class="no-mobile">Tabletop Miniatures Wargaming</h4>
<h4 class="mobile-only">Tabletop Wargaming</h4>
<img src="/img/kriegsspiel2.png">
<div class="no-mobile">
With super detailed simulation rules based on the original <a href="http://toofatlardies.co.uk/product/kriegsspiel-1824/" target="toofatlardies">1824 Prussian Army Kriegspeil</a>,
presented with a snappy modern interface, to give you a <i>Fast, Detailed, and FUN</i> gaming experience 
for Solo through to Multi-Player tabletop miniatures gaming.
</div>
  <div class="action-grid">
   <div class="action__item" id="main-signup" url="/signup">
    <div class="action__title">Sign Up</div>
    <div class="action__icon"><i class="fa fa-thumbs-o-up fa-lg"></i></div>
    <div class="action__text">
      Sign Up today <b>FREE</b>!! 
    </div>
   </div>
<!-- 
   <div class="action__item" id="main-tute" url="/tutorial">
    <div class="action__title">Tutorial</div>
    <div class="action__icon"><i class="fa fa-graduation-cap fa-lg"></i></div>
    <div class="action__text">
      Tutorial on how to play, whats in the rules, etc.
    </div>
   </div>
 -->
   <div class="action__item" id="main-signin" url="/signin">
    <div class="action__title">Sign In</div>
    <div class="action__icon"><i class="fa fa-sign-in fa-lg"></i></div>
    <div class="action__text">
      Sign In Now
    </div>
   </div>

  <div class="action__item" id="main-faq" url="/faq">
    <div class="action__title">Q&A</div>
    <div class="action__icon"><i class="fa fa-question fa-lg"></i></div>
    <div class="action__text">
      Questions and Answers.
    </div>
  </div>
  
</div>
</div>
 