<div class="grid-form inspection" name="gt-move">
<h2>Grand Tactical Movement</h2>
<center><img src="/img/gt-move.png"></center>
<p>The Grand Tactical Movement Phase represents around 20minutes of action, in which large formations 
make large movements across the Battlefield, in "Columns of March".</p>

<h4>Movement of March Columns</h4>
<p>In the space of 20 minutes, a well disciplined infantry unit in march columns can cover almost a mile in exceptional conditions, or typically just over a Km on the average battlefield. This needs to be reflected on the tabletop.</p>
<p>However, it takes at least 20 minutes to organise troops into march columns and pass the orders of the route down the line .. so you may find that some units cannot move at all during this phase as the are "deploying into march order".</p>
<p>Once they reach their destination, the March Column will begin deploying into Line of Battle .. another exersize that takes at least 20 minutes to perform.</p>
<p>At the end of the Grand Tactical Movement Phases, you will be asked if any units in March Order have reached their destination yet .. in which case, the computer will update the map, and begin deploying the unit in Battle Line for you.</p>

<h4>Arriving at the Destination</h4>
<p>Every unit has a "Current Location" on the map display, and every March Order has a Destination that is also marked on the map display.</p>
<p>Note that the "Current Location" displayed on the map should be properly considered to be the "Last Known Location" of that unit. This is consistent with military practice.</p>

<p>Events on the march itself can be uncertain, and this is reflected on the map. The computer map will show where the unit started from, and where they are supposed to be headed to. Until they report back that they have reached their destination, their exact location will remain unknown.</p>

<p>When viewing the map, you can manually "adjust" the reported position of your Corps by 1 grid, which represents sending a courier back to Army HQ with a fresh situation report. The new location of you unit will then be updated on all player's maps within the next 20 minute turn.</p>

<p>At the end of each Grand Tactical Movement Phase, when units arrive at their intended destination (on the tabletop), the player must select "At Destination" to report their position and update the map. The computer will prevent units from fully deploying, and taking part in combat until this happens.</p>

<p>On the turn that they arrive at their destination, the lead Brigade sized unit (around half a dozen bases of troops), will be considered "hastily deployed in Battle Line", and able to fight if need be.</p>

<p>All of the next 20 minute turn will be used to bring up the remainder of the march column, and organise the full Battle Line. On the subsequent 20 minute turn, the unit can be considered to be fully deployed.</p>

<h4>Tabletop Movement Rate</h4>
<p>All Grand Tactical Movement is simultaneous for all players.</p>
<p>Grand Tactical Movement in this phase provides for a movement allowance of up to 3 Grids for all troops in March Order.</p>
<p>To perform this movement on the tabletop, place a single base of figures on the table to represent the head of the column, and then add a few more bases behind it, strung out in march order, for aesthetic effect. If you really want to, you can add escorts to the side of the column, and scouts to the front for extra aesthetics .. up to you, its your table.</p>
<img src="/img/march-column.png">
<p>Please note that the "Grids" on the computer display are there for reference and approximation only, and they do not dictate the measurements of the "reality" of the tabletop. If there is any discrepency between the computer map vs the tabletop, the tabletop interpretation always takes precedence. This is perfectly in line with the realities of real life military operations, and reading maps.<p>
<p>The movement allowance is 3 grids maximum. If there is ANY rough terrain on the path within the range of this movement phase, then reduce the allowance to a maximum of 2 grids. Passing down a slope counts as rough terrain for movement, and is therefore limited to 2 grids maximum.</p>
<p>Finally, if the move involves passing through woods, or built up areas, or up a slope, then the maximum move is reduced to 1 grid.</p>
<p>To measure the actual distance travelled on the tabletop, use a measuring stick marked off in equal portions of exactly 1 grid size (ie. 4" 6" 8" 1ft .. whatever grid size you are using on this table.), and apply it as follows :</p>
<ul>
  <li>Place the movement stick such that the base representing the head of the column is wholly within one of the "grid squares". It can be at the close end or the far end of the grid square, as long is its within the grid square.</li>
  <li>Aim the movement stick at the target objective, using common sense to determine the best route of march. If in doubt, reach a consensus with the other players from both sides. As long as everyone applies the same "common sense" approach equally, then you are all good.</li>
  <li>The base of figures representing the head of the column can then be moved to a position that is anywhere inside the 3rd Grid square from its current location, as measured on the measuring stick. It can be placed anywhere in that square, as long as it it wholly within that square.</li>
  <li>If the movement allowance is LESS than 3 grids, then apply that to the above - ie. the head of the column could be moved into the 2nd or the next grid square, depending on the movement allowance.</li>
  <li>Note: Because you can place the head of the column anywhere within the start square, and anywhere within the end square, this provides some built in adjustment for extending or reducing the actual distance travelled on the tabletop by just under +/- 1 Grid Square. Its quite simple and elegant once you get the hang of it.</li>
</ul>
<h4>Examples of Legal Move Variations</h4>
<p>Both of these examples see the unit making a legal move of "3 Grids"</p>
<img src="/img/legal-max.png"><br>
<img src="/img/legal-min.png"><br>
<p>Both of these cases can be useful, as there are times when you want to push the men a bit faster, and there are times when you wish you could halt the movement before it ends in certain disaster. This provides a bit of flexibility, whilst reigning in the "100 Ft General' syndrome at the same time.</p>


<h4>Partial Movement due to Enemy Contact</h4>

<p>Units performing Grand Tactical Moves in March Order MUST move using their full grid distance, unless such movement places them in a "Zone of Contact" with the enemy, which is simply defined as being within 1 grid of any enemy unit of any type. Under no circumstances can Grand Tactical movement place troops any closer to the enemy than 1 grid.<p>

<p>At the end of the Grand Tactical Movement Phases, you will be asked if any March Columns have contacted the enemy in this manner, and the computer will look after the details from there. A contacted unit will rapidly deploy the lead Brigade in a Hastily assembled Battle Line, and then automatically begin deploying the rest of the column into Battle Line as they complete the march. Such "quick and hasty deployments" raised in this situation will speed up the normal deployment out of March Order, but it costs extra fatigue and control. Let the computer worry about tracking al that for you.</p>

<p>Units contacted whilst on the march will remain in this defensive posture in Battle Line, until the contact is cleared, or they receive new orders. Once the contact is cleared, they will automatically deploy back into March Order and resume the march to their original objective, albeit somewhat delayed and worn out by the enemy.</p>

<p>Once again, let the computer manage all of this for you.</p>

<p><i><b>Tactical Note:</b> Note that using a small blocking force, such as a couple of Battalions, a gun section and a couple of squadrons of Cavalry can be used in this fashion to significantly delay a large enemy column on the march, by constantly forcing them to halt / deploy / redeploy / resume the march.</i></p>

<p><i><b>Tactical Note:</b> If a march column happens to contact some enemy unit that is already in Battle Line and ready to fight (especially enemy cavalry), then they are effectively "ambushed", and their chances of surviving whilst deploying out of March Order are pretty grim. Don't let your troops get into this situation ...</i></p>


<h4>What about Cavalry, horse drawn Guns and Light Troops ?</h4>

<p>Note that there are 2 phases of Grand Tactical Movement per 20 minute turn. The first phase gives everyone "3 Grids of Movement". Following this, there is a phase for calculating the effect of any Artillery Bombardments on troops during the movement phase.  Following the Bombardment, Cavalry, horse drawn, and Light Skirmisher troops get a 2nd Grand Tactical movement allowance, depending on the situation. Best case is that unmolested Light Cavalry in good conditions may get up to 2 grids extra movement allowance, with skirmisher infantry typically getting an extra half-grid of special movement allowance.</p>

<h4>General Advance in Line of Battle</h4>

<p>Formed units in Battle Line perform all of their movements and other actions during the tactical phases, and so they do not normally move during this Grand Tactical Movement Phase.</p>


<img src="/img/battle-line.png"><br>

<p>Units that are in Line of Battle formation can however be given orders for a "General Advance" in Battle Formation.</p>
<p>If so ordered, the affected troops will spend 1 turn "Sounding the Order", dressing their lines, fixing their bayonets, and otherwise getting ready for some serious action.</p>
<p>The drums and bugles sound out the call, and during the next turn's Grand Tactical Movement Phases, the whole unit will advance in formation, with Bayonets at the ready.</p>
<p>The whole line can continue to advance in this manner whilst keeping formation, at a rate of 1 grid maximum per Grand Tactical Movement Phase.</p>
<p>The same grid measuring rules apply - a base in any point of 1 grid can move to a any point in an adjacent grid. If the ground is rough / lightly wooded, then deduct 1 grid. Making a move of "0 Grids" is then restricted to moving from one point in a grid square to any other point in a grid square.</p>
<p>It is best to use this slight flexibilty in ground measurement to enable your advancing Battle Line to maintain formation .. ie, use the "almost an extra grid" sprints to get units previoulsy delayed by rough ground back into line.</p>
<p>Proceeding on a General Advance will cost the entire formation 1 level of fatigue per quarter mile advanced every 20 minute turn. A good unit should be able to maintain this General Advance for 6 or more moves,  lesser units will be able to keep it up for 2-3 moves before suffering any noticable effects.</p>
<p>Once on a General Advance, halting it or reversing the order is still possible, but takes time and may cause some confusion with the troops.</p>
<p>Only call a General Advance when you are certain of Victory, and want to make sure that you really want to show no quarter, and clear the table of the enemy before packing up the game for the day. Always spend at least a couple of turns softening up the position with artillery before getting too carried away !</p>

<h4>Notes on Doctrine for Moving Troops</h4>

<p>Although there are a number of best practices and general principles that you can use to move troops around on the BattleField, there are no hard and fast rules. It takes some cunning and intuition to win in manouvres.</p>
<p>Here is a rough guide to Grand Tactical Manoevre:</p>
<ul>
	<li>Have a solid plan, and stick to it. Changes to the plan cost a lot of time, and leave your army vunerable to attack whilst they reorganise. The computer umpire will definitely punish armies that change the plan often.</li>
	<li>Maintain a Battle Line to take and hold ground. Choose exactly where you are going fight, over what objectives, and get your Battle Line on the position in greater strength than the enemy to hold it.</li>
	<li>Moving a Battle Line is possible, but it is slow and cumbersome, and wears the troops out. Your plan should avoid significant advances in Line of Battle, as it leaves your army vunerable to being outflanked or encircled by a faster enemy force.</li>
	<li>Select a Form Up Point on the table to assemble your Battle Line and commence your plan of action from there.</li>
	<li>Select a route to the Form Up Point that makes the best use of the terrain. Marching troops in the open, within range of enemy artillery is simply asking for trouble. Avoid this by taking a covered approach, if possible, even if it costs some extra time.</li>
	<li>Clear the path from your current location to your Form Up Point to avoid ambushes. You don't always know where the enemy is until you run into them. Use march columns of light troops and cavalry to reconnoitre and clear the path for your March Columns before they commence their march. Light Troops that are contacted on the march can use their extra Grand Tactical Movement Phase to break contact and retire if needed.</li>
	<li>Speed and Control. Once you have a solid plan in place ... move fast ! A well organised march can enable you to setup the critical sections of the battle to be completely unfair contests where it counts, regardless of the overall sizes of the opposing armies. Use Speed and Control to dictate the terms of the Battle ... don't be the victim.</li>
</ul>

</div>
