Thanks {{.Username}},
<p>
<br>

We have just sent you an email to "{{.Email}}"
which contains a magic, top secret validation code.

<br>

<center><i class="fa fa-user-secret" style="font-size: 11rem"></i></center><br>

When you get the email, enter the code in the field above to validate your email address and complete your
registration.

<br>
<p>
<br>

If you put the WRONG email address in ... then simply correct it in the "EMAIL" field above, and hit 
the Save button again to generate another secret authentication code to the correct email address.

<br>
<p>
<br>

** If you don't see the email for a few minutes, don't forget to check your SPAM folder as well **