<div class="action-grid">
	{{if gt .Rank 9}}
	<div class="action__item" url="/users">
		<div class="action__title">Users</div>
		<div class="action__icon"><i class="fa fa-user fa-lg"></i></div>
		<div class="action__text">
			Users Database
		</div>
	</div>
	{{end}}
	<div class="action__item" url="/game/new">
		<div class="action__title">New Game</div>
		<div class="action__icon"><i class="fa fa-plus-circle fa-lg"></i></div>
		<div class="action__text">
			Create a New Game
		</div>
	</div>
	<div class="action__item" url="/scenarios">
		<div class="action__title">Scenarios</div>
		<div class="action__icon"><i class="fa fa-sitemap fa-lg"></i></div>
		<div class="action__text">
			Campaigns and Scenarios
		</div>
	</div>
	<div class="action__item" url="/manual">
		<div class="action__title">Manual</div>
		<div class="action__icon"><i class="fa fa-graduation-cap fa-lg"></i></div>
		<div class="action__text">
			Rules and Game Play Manuals
		</div>
	</div>
	<div class="action__item" url="/account">
		<div class="action__title">Account</div>
		<div class="action__icon"><i class="fa fa-cog fa-lg"></i></div>
		<div class="action__text">
			Account Settings
		</div>
	</div>


</div>