<div class="container">
<i class="fa fa-sitemap fa-lg">This Scenario is a Copy of {{.Name}} from {{.AuthorName}}
  <input type="button" id="goto-parent" class="button button-outline" value="Show the Original">
</i>
</div>
