<div class="container">
<h4><i class="fa fa-sitemap fa-3x"></i> This Scenario is derived from "{{.Name}}" by {{.AuthorName}}</h4>
<input type="button" id="goto-parent" class="button button-outline" value="Show the Original">
</div>
