<div class="grid-form play-console" name="play-console">
<div class="console-title">{{.Name}} {{.Year}}</div>
<div class="console-button-bar">
	<input type="button" class="button button-console" value="Troop">
	<input type="button" class="button button-console" value="Order">
	<input type="button" class="button button-console" value="Map">
	<input type="button" class="button button-console" value="Game">

</div>
<svg name="svg-console" class="svg-console" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">

<!-- Create definitions -->
<defs>
</defs>

<!-- Rectangle of table size, coord system = inches -->
<rect x="0" y="0" class="map-rect hidden" name="map-rect" width="100" height="100"/>

<!-- Use a g tag to fill in the tiles -->
<g name="map-tileset" class="map-tileset hidden">    
</g>
</svg>
</div>


