<center>
{{if .}}
<img src="/img/ranks.png">
{{end}}
<h4>Purchase a Commission</h4>
</center>
<!-- <div class="pricing pricing--jinpa"> -->
<div class="pricing pricing--yama">
	<div class="pricing__item">
		<h3 class="pricing__title">Lieutenant</h3>
		<div class="pricing__price">
			<span class="pricing__currency">$</span>Free
			<span class="pricing__period"> unlimited<span>
		</div>
		<p class="pricing__sentence">Free Trial Account.</p>
		<ul class="pricing__feature-list">
			<li class="pricing__feature"><i class="fa fa-sitemap"></i> 2 Scenarios</li>
			<li class="pricing__feature"><i class="fa fa-bookmark"></i> 1 Game Slot</li>
			<li class="pricing__feature"><i class="fa fa-user"></i> 2 Players per Game</li>
		</ul>
		<button class="button-outline">Choose plan</button>
	</div>
	<div class="pricing__item">
		<h3 class="pricing__title">Colonel</h3>
		<div class="pricing__price">
			<span class="pricing__currency">$</span>5.90
			<span class="pricing__period">per Month<span>
		</div>
		<p class="pricing__sentence">Regimental Gaming Groups.</p>
		<ul class="pricing__feature-list">
			<li class="pricing__feature"><i class="fa fa-sitemap"></i> 8 Scenarios</li>
			<li class="pricing__feature"><i class="fa fa-bookmark"></i> 2 Game Slots</li>
			<li class="pricing__feature"><i class="fa fa-user"></i> 4 Players per Game</li>
		</ul>
		<button class="button-outline">Choose plan</button>
	</div>
	<div class="pricing__item pricing__item--featured">
		<h3 class="pricing__title">Brigadier</h3>
		<div class="pricing__price">
			<span class="pricing__currency">$</span>9.90
			<span class="pricing__period">per Month<span>
		</div>
		<p class="pricing__sentence">Command your own Gaming Brigade.</p>
		<ul class="pricing__feature-list">
			<li class="pricing__feature"><i class="fa fa-sitemap"></i> 16 Scenarios</li>
			<li class="pricing__feature"><i class="fa fa-bookmark"></i> 4 Game Slots</li>
			<li class="pricing__feature"><i class="fa fa-user"></i> 8 Players per Game</li>
		</ul>
		<button class="button-primary">Choose plan</button>
	</div>
	<div class="pricing__item">
		<h3 class="pricing__title">Marechal</h3>
		<div class="pricing__price">
			<span class="pricing__currency">$</span>24.90
			<span class="pricing__period">per Month<span>
		</div>
		<p class="pricing__sentence">PRO GameMaster for Conventions.</p>
		<ul class="pricing__feature-list">
			<li class="pricing__feature"><i class="fa fa-sitemap"></i> 32 Scenarios</li>
			<li class="pricing__feature"><i class="fa fa-bookmark"></i> 8 Game Slots</li>
			<li class="pricing__feature"><i class="fa fa-user"></i> 16 Players per Game</li>
		</ul>
		<button class="button-outline">Choose plan</button>
	</div>
</div>