<div class="action-grid">
	<div class="action__item" url="/scenario/{{.ID}}/red">
		<div class="action__title">Red Team</div>
		<div class="action__icon"><i class="fa fa-flag-o fa-lg"></i></div>
		<div class="action__text">
			{{.RedTeam}}
		</div>
	</div>
	<div class="action__item" url="/scenario/{{.ID}}/blue">
		<div class="action__title">Blue Team</div>
		<div class="action__icon"><i class="fa fa-flag fa-lg"></i></div>
		<div class="action__text">
			{{.BlueTeam}}
		</div>
	</div>	
</div>