<div class="action-grid">
	<div class="action__item" url="/scenario/{{.ID}}/red">
		<div class="action__title">Red Team</div>
		<div class="action__icon"><i class="fa fa-flag-o fa-lg"></i></div>
		<div class="action__text">
			{{.RedTeam}}
		</div>
	</div>
	<div class="action__item" url="/scenario/{{.ID}}/blue">
		<div class="action__title">Blue Team</div>
		<div class="action__icon"><i class="fa fa-flag fa-lg"></i></div>
		<div class="action__text">
			{{.BlueTeam}}
		</div>
	</div>	
	
	{{if .Public}}
		{{if .IsMine}}
		<div class="action__item" url="lock">
			<div class="action__title">Lock</div>
			<div class="action__icon"><i class="fa fa-lock fa-lg"></i></div>
			<div class="action__text">
				Un-Publish this Scenario
			</div>
		</div>	
		{{end}}
	<div class="action__item" url="/scenario/{{.ID}}/fork">
		<div class="action__title">Copy</div>
		<div class="action__icon"><i class="fa fa-files-o fa-lg"></i></div>
		<div class="action__text">
			Copy this Scenario
		</div>
	</div>
	{{else}}
		{{if and .IsMine}}
			{{if not .Review}}
				<div class="action__item" url="unlock">
					<div class="action__title">Unlock</div>
					<div class="action__icon"><i class="fa fa-unlock fa-lg"></i></div>
					<div class="action__text">
						Publish this Scenario to allow Sharing and Cloning
					</div>
				</div>
			{{end}}
		{{end}}
	{{end}}

	{{if .Review}}
		{{if .Admin}}
		<div class="action__item" url="accept">
			<div class="action__title">Accept</div>
			<div class="action__icon"><i class="fa fa-thumbs-up fa-lg"></i></div>
			<div class="action__text">
				Looks Good - Accept this Scenario for Publishing.
			</div>
		</div>
		{{else if .IsMine}}
		<div class="action__item" url="lock">
			<div class="action__title">Lock</div>
			<div class="action__icon"><i class="fa fa-lock fa-lg"></i></div>
			<div class="action__text">
				Retract this Scenario from Review
			</div>
		</div>	
		{{end}}
	{{end}}
	
</div>