<!-- Slide in menu once logged in  -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="slidemenu">
  <h3 id="myname">Options</h3>
  <a href="#" id="menu-settings"><i class="fa fa-cog"></i> Settings</a>
  <a href="#" id="menu-tute"><i class="fa fa-graduation-cap"></i> Tutorial</a>
  <a href="#" id="menu-army"><i class="fa fa-sitemap"></i> Armies</a>
  <a href="#" id="menu-game"><i class="fa fa-bomb"></i> Games</a>
  <a href="#" id="menu-invite"><i class="fa fa-gift"></i> Invite Friends</a>
  <a href="#" id="menu-purchase"><i class="fa fa-envelope"></i> Contact</a>
  <a href="#" id="menu-signout"><i class="fa fa-sign-out"></i> SignOut</a>
</nav> 



