<div class="grid-form inspection" name="unit-details">
{{if eq .UType 1}}
  <h3>Division Command Inspection</h3>
  <img src="/img/div_inspection.png">
  <div class="row button-bar">
    {{if lt .Rating 3}}
    <input id="ud-close" type="button" class="button button-clear button-case" value="Good as always my Dear {{.CommanderName}}. I can trust you to lead this unit.">
    {{else}}
      {{if lt .Rating 4}}
      <input id="ud-close" type="button" class="button button-clear button-case" value="Good Show. I am counting on you {{.CommanderName}}.">
      {{else}}
        {{if eq 5 .Rating}}
      <input id="ud-close" type="button" class="button button-clear button-case" value="I will be watching you closely {{.CommanderName}}. Now get the men ready for Battle.">
        {{else}}
      <input id="ud-close" type="button" class="button button-clear button-case" value="Very Good. Dont let us down {{.CommanderName}}.">
        {{end}}
      {{end}}
    {{end}}
  </div>
  <div name="unitcard">
  <ul>
    <li>{{.Name}} of {{.Nation}}</li>
    <li><b>Commanded by</b> {{.CommanderName}} ({{.GetRating}})</li>
    <li>In {{.GetCondition}} condition.</li>
    {{if ne .Descr ""}}
    <li>{{.Descr}}</li>
    {{end}}
    {{if ne "" .GetMState}}
      <li>Morale: {{.GetMState}}</li>
    {{end}}
    <li>Summary: <br>{{.Summary}}</li>
  </ul>
  </div>
{{end}}
{{if eq .UType 2}}
  <h3>Infantry Brigade Inspection</h3>
  <img src="/img/inspection.png">
  <div class="row button-bar">
    <input type="button" class="button button-outline" value="Valour">
    <input type="button" class="button button-outline" value="Discipline">
    <input type="button" class="button button-clear button-case" value="At Ease">
  </div>
  <dir name="unitcard">
  <ul>
    <li>{{.Name}} of {{.Nation}}</li>
    {{if ne "" .GetMState}}
      <li>Morale: {{.GetMState}}</li>
    {{end}}
    <li>{{.Bayonets}} {{.GetRating}} Bayonets</li>
    <li>Trained as {{.GetDrill}}</li>
    <li>In {{.GetCondition}} condition.</li>
    {{if ne 0 .BayonetsLost}}
    <li>.. with {{.BayonetsLost}} men currently unfit for duty.</li>
    {{end}}
    {{if ne "" .GetSupport}}
    <li>{{.GetSupport}}</li>
    {{end}}
    {{if ne "" .Descr}}
    <li>{{.Descr}}</li>
    {{end}}
  </ul>
  </dir>
{{end}}
{{if eq .UType 3}}
  <h3>Cavalry Brigade Inspection</h3>
  <img src="/img/cav_inspection.png">
  <div class="row button-bar">
    <input type="button" class="button button-outline" value="Honours">
    <input type="button" class="button button-clear button-case" value="Good Show Gentlemen, Carry On">
  </div>
  <div  name="unitcard">
  <ul>
    <li>{{.Name}} of {{.Nation}}</li>
    {{if ne "" .GetMState}}
      <li>Morale: {{.GetMState}}</li>
    {{end}}
    <li>{{.Sabres}} Sabres of {{.GetCavRating}} {{.GetCavType}}</li>
    <li>In {{.GetCondition}} condition.</li>
    {{if ne 0 .SabresLost}}
    <li>.. with {{.SabresLost}} Sabres sadly unavailable for battle.</li>
    {{end}}
    {{if ne "" .GetSupport}}
    <li>{{.GetSupport}}</li>
    {{end}}
    {{if ne "" .Descr}}
    <li>{{.Descr}}</li>
    {{end}}
  </ul>
  </div>
{{end}}
{{if eq .UType 4}}
  <h3>Artillery Battery Inspection</h3>
  <img src="/img/gun_inspection.png">
  <div class="row button-bar">
    <input type="button" class="button button-outline" value="Gunnery Chart">
    <input type="button" class="button button-clear button-case" value="Back to work, gunners">
  </div>
  <div name="unitcard">
  <ul>
    {{if ne "" .Name}}
    <li>{{.Name}}
    {{end}}
    {{if ne "" .Nation}}
     of {{.Nation}}
    {{end}}
    {{if .HorseGuns}}
      (Horse Artillery)
    {{end}}
    {{if ne "" .GetMState}}
      <li>Morale: {{.GetMState}}</li>
    {{end}}
    </li>
    <li>{{.Guns}} Guns of {{.GetGunType}} shot weight</li>
    <li>In {{.GetCondition}} condition.</li>
    <li>.. with {{.GunsLost}} Guns currently under repair</li>
    {{if ne .Descr ""}}
    <li>{{.Descr}}</li>
    {{end}}
  </ul>
  </div>
{{end}}
{{if eq .UType 5}}
  <h3>Special Unit Inspection</h3>
  <img src="/img/inspection.png">
  <div class="row button-bar">
    <input type="button" class="button button-outline" value="Valour">
    <input type="button" class="button button-outline" value="Discipline">
    <input type="button" class="button button-clear button-case" value="At Ease">
  </div>
  <dir name="unitcard">
  <ul>
    <li>{{.Name}} of {{.Nation}}</li>
    {{if ne "" .GetMState}}
      <li>Morale: {{.GetMState}}</li>
    {{end}}
    <li>{{.Bayonets}} {{.GetRating}} Bayonets</li>
    <li>Trained as {{.GetDrill}}</li>
    <li>In {{.GetCondition}} condition.</li>
    {{if ne 0 .BayonetsLost}}
    <li>.. with {{.BayonetsLost}} men currently unfit for duty.</li>
    {{end}}
    {{if ne "" .GetSupport}}
    <li>{{.GetSupport}}</li>
    {{end}}
    {{if ne "" .Descr}}
    <li>{{.Descr}}</li>
    {{end}}
  </ul>
  </dir>
{{end}}
</div>


