{{$rating := .GetRatingData}}
{{$drill := .GetDrillData}}
<ul>
	<li><h4>{{.Name}} ~ Rated as {{$rating.Name}}</h4></li>
  {{if $rating.Shock}}
  	<li>Shock Troops, will not hesitate on the Assault</li>
  {{else}}
  	<li>Will close with the enemy under the right circumstances</li>
  {{end}}
  {{if $rating.AttackSuperior}}
  	<li>Brave, will attack forces superior in number</li>
  {{else}}
  	<li>May lose their nerve against superior numbers</li>
  {{end}}
  {{if $rating.AttackGuns}}
  	<li>Fearless, will attack enemy guns</li>
  {{else}}
  	<li>May require some encouragement to attack enemy guns</li>
  {{end}}
  {{if $rating.FormEngage}}
  	{{if $rating.FormClose}}
  		<li>Will be able to change formation up close with the enemy</li>
  	{{else}}
  		<li>Will be able to change formation within shot of the enemy, but no closer</li>
  	{{end}}
  {{else}}
    <li>Unlikely to change formation within shot of the enemy</li>
  {{end}}
  {{if $rating.SKClose}}
    {{if eq "Linear" $drill.Name}}
  	<li>Will stick the bayonet up any Skirmisher that gets too close</li>
    {{else}}
    <li>Can deploy skrimishers up close with the enemy</li>
    {{end}}
  {{else}}
  	{{if $drill.Flankers}}	
  		<li>Flank Companies will deploy within shot of the enemy, but no closer</li>
  	{{else}}
  		{{if $drill.EliteCoy}}
  			<li>Skirmish companies will operate within shot of the enemy, but no closer</li>
  		{{else}}
  			{{if $drill.ThirdRank}}
  			<li>Skirmishers will deploy within shot of the enemy, but not closer</li>
  			{{else}}
  				<li>Unfamiliar with skirmish tactics. May become nervous in the face of enemy skirmishers</li>
  			{{end}}
  		{{end}}
  	{{end}}
  {{end}}
</ul>