{{$drill := .GetDrillData}}
{{$rating := .GetRatingData}}
<ul>
  <li><h4>{{.Name}} ~ Trained as {{$drill.Name}}</h4></li>
  <li>Operate in {{$drill.Ranks}} Ranks
  {{if $drill.Flankers}}, with specially trained Flank Companies{{end}}
  {{if $drill.EliteCoy}}, with integral Voltigeur and Grenadier companies per Battalion{{end}}
  {{if $drill.ThirdRank}}, with the Third Rank able to provide a skrimish screen{{end}}
  </li>
  {{if $drill.OpenOrder}}
    <li>Can operate in Full Open Order if needed</li>
  {{end}}
  {{if gt $rating.FireBonus 0}}
    {{if gt $rating.FireBonus 1}}
    <li>Superb Musketry Skills</li>
    {{else}}
    <li>Well practiced with the Musket</li>
    {{end}}
  {{end}}
  {{if lt $rating.FireBonus 0}}
    <li>Could do with some shooting practice</li>
  {{end}}
  {{if gt $rating.MeleeBonus 0}}
    {{if gt $rating.MeleeBonus 1}}
    <li>Frightfully good with the bayonet</li>
    {{else}}
    <li>Dependable with the Cold Steel</li>
    {{end}}
  {{end}}
  {{if lt $rating.MeleeBonus 0}}
    <li>A little hesitant at close quarters</li>
  {{end}}
  {{if $drill.Oblique}}<li>Oblique Line Movement</li>{{end}}
  {{if eq 1 $drill.Speed}}
    <li>Quite sluggish and slow on the march</li>
  {{end}}
  {{if eq 2 $drill.Speed}}
    <li>Can march at a solid pace</li>
  {{end}}
  {{if eq 3 $drill.Speed}}
    <li>Can march at a good, brisk pace</li>
  {{end}}
  {{if gt $drill.Speed 3}}
    <li>Can move at double time pace in the heat of battle</li>
  {{end}}
  <li><b>Bde Formations:  </b>
  {{if $drill.Line}}Line{{end}}
  {{if $drill.Lines}}/ Lines{{end}}
  {{if $drill.Mixed}}, Mixed Formation{{end}}
  {{if $drill.AttCol}}, Attack Columns{{end}}
  {{if $drill.CloseCol}}, Closed Columns{{end}}
  {{if $drill.Square}}, Square{{end}}
  </li>
  {{if $drill.Mob}}<li>Can form an angry Mob / Swarm if provoked</li>{{end}}
  </li>
  <li>Sergeant Major's Appraisal:<br> "<i>{{.GetAppraisal}}</i>"</li>
  </ul>
</ul>