{{$drill := .GetDrillData}}
{{$rating := .GetRatingData}}
<ul>
  <li><h4>{{.Name}} ~ Trained as {{$drill.Name}}</h4></li>
  <li>Operate in {{$drill.Ranks}} Ranks
  {{if $drill.Flankers}}, with specially trained Flank Companies{{end}}
  {{if $drill.EliteCoy}}, with integral Voltigeur and Grenadier companies per Battalion{{end}}
  {{if $drill.ThirdRank}}, with the Third Rank able to provide a skrimish screen{{end}}
  </li>
  {{if $drill.OpenOrder}}
    <li>Can operate in Full Open Order if needed</li>
  {{end}}
  {{if gt $rating.FireBonus 0}}
    <li>Superb Musketry Skills</li>
  {{end}}
  {{if lt $rating.FireBonus 0}}
    <li>Could do with some shooting practice</li>
  {{end}}
  {{if gt $rating.MeleeBonus 0}}
    <li>Frightfully good with the bayonet</li>
  {{end}}
  {{if lt $rating.MeleeBonus 0}}
    <li>A little hesitant at close quarters</li>
  {{end}}
  {{if $drill.Oblique}}<li>Oblique Line Movement</li>{{end}}
  {{if eq 1 $drill.Speed}}
    <li>Quite sluggish and slow on the march</li>
  {{end}}
  {{if eq 2 $drill.Speed}}
    <li>Can march at a solid pace</li>
  {{end}}
  {{if eq 3 $drill.Speed}}
    <li>Can march at a good, brisk pace</li>
  {{end}}
  {{if gt $drill.Speed 3}}
    <li>Can move at double time pace in the heat of battle</li>
  {{end}}
  <li><b><u>Bde Formations:  </u></b>
  {{if $drill.Line}}Line{{end}}
  {{if $drill.Lines}}, Sucessive Lines{{end}}
  {{if $drill.Mixed}}, Mixed Formation{{end}}
  {{if $drill.AttCol}}, Attack Columns{{end}}
  {{if $drill.CloseCol}}, Closed Columns{{end}}
  {{if $drill.Square}}, Square{{end}}
  </li>
  {{if $drill.Mob}}<li>Can form an angry Mob / Swarm if provoked</li>{{end}}
  </li>
    <li>Sergeant Major's Appraisal: <i>"
  {{if gt $drill.Control 3}}
    {{if gt $drill.Control 4}}
      {{if gt $drill.Control 5}}
        {{if gt $drill.Control 6}}
          {{if gt $drill.Control 7}} 
            {{if gt $drill.Control 8}} 
              A fine group of Lads they are Sir. They know how to handle a musket, and they polish up allght too. Good Soldiers they are.
            {{else}}
              Dependable, and well disciplined they are Sir. They will follow orders without question.
            {{end}}
          {{else}}
           Not the most pleasant company this lot, and they are looking a little worn around the edges Sir ... but the enemy wont go near em either. Run in fear for their lives whenever this lot turns up they do, Sir.
          {{end}}
        {{else}}
        Their muskets are dirty and their boots are clean ... Aye ... but they are learning the trade. All in good time, and Ill make soldiers out of them yet, Sir.
        {{end}}
      {{else}}
       They might look like soldiers, and sometimes act like one ... but I wouldnt trust them to care for my dog.
      {{end}}
    {{else}}
      A sorry looking bunch of threadbare miserables, barely able to tie their own shoelaces ... let alone fight. I pity them Sir ... Pity their sorry backsides I do.
    {{end}}
  {{else}}
    Terribly poor discipline, illiterate, often drunk, and uncouth in the extreme. They understand the Lash ... and little else
  {{end}}
  "</i></li>
  </ul>
 
</ul>