<div class="row">
<b>{{.Name}} ~ {{.Guns}} Guns of {{.GetGunType}} shot</b>
</div>
<div class="row">
Gunnery Chart - Effective Range in metres.
</div>
<div>
{{if lt .GunneryType 2}}
<img class="gunnery_chart" src="/img/gunnery12.png">
{{else}}
  {{if eq 4 .GunneryType}}
    <img class="gunnery_chart" src="/img/gunnery3.png">
  {{else}}
    <img class="gunnery_chart" src="/img/gunnery6.png">
  {{end}}
{{end}}
</div>